<div ng-include="'views/head.html'"></div>
<div class="container" ng-controller="adminbookingmanagerController">
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'views/admin/adminmenu.html'"></div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="col-md-10">
            <h1>Admin Booking manager</h1>
            <form ng-submit="searchdatabyuser()">
                <div class="clear"> &nbsp;</div>
                <div class="searchbar col-md-12">
                    <div class="col-md-2">
                        <label>Booking ID</label>
                        <input name="t_id" ng-model="TransporterID" type="text" class="form-control" id="TripTId">
                    </div>
                    <div class="col-md-4">
                        <label>Created Date</label>
                        <p class="input-group">
                            <input name="tilldate" id="tilldate" class="quote_date form-control" ng-model="departureat" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-popup="dd-MM-yyyy" is-open="status0.opened" close-text="Close" />
                            <span class="input-group-btn"> <button type="button" class="btn btn-default" ng-click="open0($event)"><i class="glyphicon glyphicon-calendar"></i></button> </span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <label>Status</label>
                        <select name="data[Trip][status]" ng-model="status" id="ParcelStatus" class="form-control">
                            <option value="">Select Status</option>
                            <option value="2">Booked With TR</option>
                            <option value="3">Parcel Collected</option>
                            <option value="4">Parcel Delivered</option>
                            <option value="5">Delivery Complete</option>
                            <option value="6">Cancelled</option>
                            <option value="7">cancelled Paid</option>
                            <option value="8">Refunded</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <div class="clear">&nbsp;<br /> </div>
                        <input type="submit" style="width:100%" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-2">
                    PageSize:
                    <select ng-model="entryLimit" ng-change="pageSizeChanged()" class="form-control">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <h5>Filtered {{ filtered.length }} of {{ totalItems}} Total Booking</h5>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-hide='!errormessage'>{{errormessage}}</div>
            <div class="alert alert-success" role="alert" ng-hide='!successMessage'>{{successMessage}}</div>
            <div class="row" style="min-height:500px;">
                <div class="col-md-12" ng-show="filteredItems > 0">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Booking ID<a ng-click="sort_by('id');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Booking Date<a ng-click="sort_by('created');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Transport ID<a ng-click="sort_by('transporterID');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Sender ID<a ng-click="sort_by('usr_id');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Booking Amt<a ng-click="sort_by('payment');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Order Number<a ng-click="sort_by('trans_payment');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Parcel  Status
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (tripslist | filter:search | orderBy : predicate :reverse) | startFrom:(1-1)*entryLimit | limitTo:entryLimit">
                                <th>
                                    {{data.id}}
                                </th>
                                <th>
                                    {{data.created| date:"dd/MM/yyyy"}}
                                </th>
                                <th>
                                    {{data.transporterID}}
                                </th>
                                <th>
                                    {{data.usr_id}}
                                </th> 
                                <th>
                                    {{data.payment}}
                                </th>
                                <td>
                                  <a> {{data.trans_payment}}</a> 
                                </td>
                                <td>
                                    {{data.BookingStatus}}
                                </td>
                                <td>
                                    <div ng-show="data.status==0 || data.status==1 || data.status==2" class='dropdown'>
                                        <a href='javascript:void()' data-toggle='dropdown' class='dropdown-toggle'>Action<b class='caret'></b></a>
                                        <ul class='dropdown-menu'>
                                            <li><a href="javascript:void(0);" ng-show="data.status==0 || data.status==1 || data.status==2" ng-click="cancellparcel(data.id,6)"><i class="fa fa-ban"></i>Cancel</a></li>
                                            <li><a href="javascript:void(0);" ng-show="data.BookingStatus=='cancelled Paid'" ng-click="cancellparcel(data.id,8)"><i class="fa fa-times"></i>Refund</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Booking found</h4>
                    </div>
                </div>
                <div ng-show="totalItems>0" class="col-sm-12" style="">
                    <pagination total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="entryLimit"></pagination>
                </div>
            </div>
             
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</div>
<style>
    td, th {
        padding: 8px 2px !important;
        text-align: center;
    }

    .pay-h-s form input[type=submit], .dash-cntnt input[type=submit] {
        margin: 0;
        padding: 5px;
    }

    .left-tab-cont {
        width: 90%;
    }

    .searchbar {
        border: 1px solid #DDD;
    }
</style>
<script>
    function senderbooknow(id) {
        alert("test");
        angular.element('.container').scope().senderbooknow(id);
    }
</script>