<div ng-include="'views/head.html'"></div>
<div ng-controller="admindashboardController">
    <div class="wrapper">
        <div class="search-result trans-dash">
            <div class="tog"><i class="fa fa-bars"></i></div> 
            <div class="wrapper">
                <div ng-include="'views/admin/adminmenu.html'"></div>
                <div class="dash-cntnt"> 

                    <h1>Welcome Administrator</h1>
                </div>
            </div>
        </div>
    </div>
</div>

