<div ng-include="'views/head.html'"></div>
<div class="container" ng-controller="admindashboardController">
    <div class="tab-form-new">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a>Dashboard</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="col-md-2">
                    <div ng-include="'views/admin/adminmenu.html'"></div>
                    <div class="clear">&nbsp;&nbsp;</div>
                </div>
                <div class="col-md-9">
                    <div class="dash-cntnt">
                        <h1>Welcome Administrator</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
