<div ng-include="'views/head.html'"></div>
<div class="container" ng-controller="adminpaymentmanagerController">
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'views/admin/adminmenu.html'"></div>
            <div class="clear">&nbsp;</div>

        </div>
        <div class="col-md-10">
            <form ng-submit="searchdatabyuser()">
                <div class="clear"> &nbsp;</div>
                <div class="searchbar col-md-12">
                    <div class="col-md-2">
                        <label>Trip ID</label>
                        <input name="t_id" ng-model="TransporterID" type="text" class="form-control" id="TripTId">
                    </div>
                    <div class="col-md-4">
                        <label>Created Date</label>
                        <p class="input-group">
                            <input name="tilldate" id="tilldate" class="quote_date form-control" ng-model="departureat" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-popup="dd-MM-yyyy" is-open="status0.opened" close-text="Close" />
                            <span class="input-group-btn"> <button type="button" class="btn btn-default" ng-click="open0($event)"><i class="glyphicon glyphicon-calendar"></i></button> </span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <label>Status</label>
                        <select name="data[Trip][status]" ng-model="status" id="ParcelStatus" class="form-control">
                            <option value="">Select Status</option>
                            <option value="Y">Approved</option>
                            <option value="N">Created Request</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <div class="clear">&nbsp;<br /> </div>
                        <input type="submit" style="width:100%" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-2">
                    PageSize: <select ng-model="entryLimit" ng-change="pageSizeChanged()" class="form-control">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <h5>Filtered {{ filtered.length }} of {{ totalItems}} Total Trips</h5>
                </div>
            </div>
            <div class="row" style="min-height:500px;">
                <div class="col-md-12" ng-show="filteredItems > 0">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    User ID<a ng-click="sort_by('trans_id');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th> 
                                <th>
                                    Bank Name<a ng-click="sort_by('bank_name');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Amount<a ng-click="sort_by('amount');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Acct No.<a ng-click="sort_by('acct_no');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    ifsc<a ng-click="sort_by('ifsc');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a> 
                                </th>
                                <th>
                                    swift_code<a ng-click="sort_by('swift_code');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Name<a ng-click="sort_by('act_name');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Status<a ng-click="sort_by('status');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (tripslist | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td>
                                    <a href='javascript:void(0);;' ng-click="viewuserdetails(data.trans_id)">{{data.trans_id }} </a>
                                </td>
                                <td>{{data.bank_name}}</td>
                                <td>{{data.amount}}</td>
                                <td>{{data.acct_no}}</td> 
                                <td>{{data.ifsc}}</td>
                                <td>{{data.swift_code}}</td>
                                <td>   {{data.act_name}}</td>
                                <td>{{data.status=='Y'?"Approved":"Request Sent"}}
                                    <a href="javascript:void(0);" ng-show="data.status=='N'" ng-click="approvetrip(data)"><i class="fa fa-check-circle"></i>Approve</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Trips found</h4>
                    </div>
                </div>
                <div ng-show="totalItems>0" class="col-sm-12" style="">
                    <pagination total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="entryLimit"></pagination>
                </div>
                <div class="clear">&nbsp;</div>
            </div>
            <div role="dialog" tabindex="-1" id="userdetails" class="modal modal-login">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table ng-hide="edit" id="example" class="table table-striped table-bordered dt-responsive nowrap">
                                        <tr>
                                            <td valign="top"><i class="fa fa-user fa-2x"></i>&nbsp;&nbsp;{{ userdetails.name}} &nbsp;{{ userdetails.l_name}}</td>
                                        </tr>
                                        <tr>

                                            <td valign="top"><i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;{{ userdetails.username}} </td>
                                        </tr>
                                        <tr>

                                            <td valign="top"><i class="fa fa-mobile fa-2x"></i>&nbsp;&nbsp;+{{ userdetails.country_code}}-{{ userdetails.mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td valign="top"><i class="fa fa-phone fa-2x"></i>&nbsp;&nbsp;{{ userdetails.phone==""?"not available":userdetails.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
                                                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25" height="25px"
                                                     viewBox="0 0 105 145.5" enable-background="new 0 0 105 145.5" xml:space="preserve">
<g i:extraneous="self">
<path fill="#231F20" stroke="#231F20" stroke-width="4" stroke-miterlimit="10" d="M95.137,108.058c0,6.627-5.373,12-12,12H21.296
			c-6.627,0-12-5.373-12-12V18.783c0-6.627,5.373-12,12-12h61.841c6.627,0,12,5.373,12,12V108.058z" />
<path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" d="M87.399,125.699
			c0,7.229-5.08,11.954-11.287,10.566l-54.896-12.277c-5.578-1.247-10.058-7.73-10.058-14.491V18.426
			c0-6.761,4.481-11.71,10.058-11.049l54.896,6.511c6.207,0.736,11.287,7.199,11.287,14.429V125.699z" />
<path fill="#231F20" stroke="#231F20" stroke-width="4" stroke-miterlimit="10" d="M85.399,126.699
			c0,7.229-5.08,11.954-11.287,10.566l-54.896-12.277c-5.578-1.247-10.058-7.73-10.058-14.491V19.426
			c0-6.761,4.481-11.71,10.058-11.049l54.896,6.511c6.207,0.736,11.287,7.199,11.287,14.429V126.699z" />
<path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" d="M75.668,97.762
			c0,4.834-3.833,7.993-8.516,7.065l-41.417-8.21c-4.208-0.834-7.589-5.169-7.589-9.69V26.029c0-4.521,3.381-7.83,7.589-7.388
			l41.417,4.354c4.683,0.492,8.516,4.814,8.516,9.648V97.762z" />
<path fill="#231F20" stroke="#231F20" stroke-width="3" stroke-miterlimit="10" d="M67.131,104.925
			c-0.052,1.582-2.951,2.293-6.44,1.599l-30.765-6.122c-3.117-0.62-5.604-2.316-5.584-3.795l0.266-20.122
			c0.02-1.509,2.569-2.34,5.725-1.85l31.169,4.836c3.537,0.549,6.391,2.309,6.338,3.925L67.131,104.925z" />
<line fill="none" stroke="#231F20" stroke-miterlimit="10" x1="68" y1="90.5" x2="68" y2="102.208" />
<g>
<g>
<path fill="#FFFFFF" d="M58.838,93.695c-0.081,4.129-0.162,8.259-0.244,12.388c-0.013,0.645,0.987,0.644,1,0
					c0.081-4.129,0.162-8.259,0.244-12.388C59.851,93.049,58.851,93.051,58.838,93.695L58.838,93.695z" />
			</g>
		</g>
<g>
<g>
<path fill="#FFFFFF" d="M31.173,88.826c-0.081,4.129-0.162,8.259-0.244,12.388c-0.013,0.645,0.987,0.644,1,0
					c0.081-4.129,0.162-8.259,0.244-12.388C32.185,88.181,31.185,88.182,31.173,88.826L31.173,88.826z" />
			</g>
		</g>
<path fill="#231F20" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" d="M64.608,59.492
			c0,11.394-8.156,19.702-17.775,18.607c-9.165-1.043-16.282-10.315-16.282-20.752s7.118-18.812,16.282-18.701
			C56.453,38.762,64.608,48.098,64.608,59.492z" />
	</g>
</svg>
                                                &nbsp;&nbsp;{{ userdetails.passportno=="" || userdetails.passportno==null?"not available":userdetails.passportno}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top"><i class="fa fa-mobile fa-3x"></i>&nbsp;&nbsp;{{ userdetails.altr_mobile==""?"not available":userdetails.altr_mobile }}</td>
                                        </tr>
                                        <tr>
                                            <td valign="top"><i class="fa fa-location-arrow fa-2x"></i>&nbsp;&nbsp;{{ userdetails.addr1=="" && userdetails.addr2=="" && userdetails.addr3==""?"empty":userdetails.addr1+" "+userdetails.addr2+" "+userdetails.addr3}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            &nbsp;
                        </div>
                    </div>
                </div><div class="clear">&nbsp;</div>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</div>
<style>
    td, th {
        padding: 8px 2px !important;
        text-align: center;
    }

    .pay-h-s form input[type=submit], .dash-cntnt input[type=submit] {
        margin: 0;
        padding: 5px;
    }

    .left-tab-cont {
        width: 90%;
    }

    .searchbar {
        border: 1px solid #DDD;
    }
</style>
