<div ng-include="'views/head.html'"></div>
<div class="container" ng-controller="adminseomanagerController">
    <div class="wrapper">
        <div ng-include="'views/admin/adminmenu.html'"></div>
        <div class="dash-cntnt">
            <h1>Airport List</h1>
            <div class="row">
                <div class="col-md-2">
                    PageSize:
                    <select ng-model="entryLimit" class="form-control">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
                <div class="col-md-3">
                    Filter:
                    <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                </div>
                <div class="col-md-4">
                    <h5>Filtered {{ filtered.length }} of {{ totalItems}} Total Airport</h5>
                </div>
            </div>
            <div ng-show="successmessage.length" class="alert alert-success">{{successmessage}}</div>
            <div ng-show="errormessage.length" class="alert alert-danger">{{errormessage}}</div>
            <br />
            <div class="row">
                <div class="col-md-12" ng-show="filteredItems > 0">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Page&nbsp;<a ng-click="sort_by('page');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Keyword&nbsp;<a ng-click="sort_by('keyword');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Description&nbsp;
                                    <a ng-click="sort_by('description');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Title&nbsp;
                                    <a ng-click="sort_by('title');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                   Location&nbsp;
                                    <a ng-click="sort_by('location');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Status&nbsp;
                                    <a ng-click="sort_by('status');">
                                        <i class="glyphicon glyphicon-sort"></i>
                                    </a>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td>
                                    <span data-ng-hide="editMode">{{data.page}}</span>
                                    <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="data.page" data-ng-required />
                                </td>
                                <td>
                                    <span data-ng-hide="editMode">{{data.keyword}}</span>
                                    <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="data.keyword" data-ng-required />
                                </td>
                                <td>
                                    <span data-ng-hide="editMode">{{data.description }}</span>
                                    <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="data.description" data-ng-required /> 
                                </td>
                                <td>
                                    <span data-ng-hide="editMode">{{data.title}}</span>
                                    <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="data.title" data-ng-required /> 
                                </td>
                                <td>
                                    <span data-ng-hide="editMode">{{data.location}}</span>
                                    <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="data.location" data-ng-required />
                                </td>
                                <td>
                                    <span data-ng-hide="editMode">{{data.status}}</span>
                                    <select class="form-control" data-ng-show="editMode" data-ng-model="data.status" data-ng-required>
                                        <optgroup label="Select Status"></optgroup>
                                        <option ng-selected="data.status=='Y'" value="Y">Yes</option>
                                        <option ng-selected="data.status=='N'" value="N">No</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(data)" class="btn btn-primary">Edit</button>
                                    <button type="submit" data-ng-hide="editMode" data-ng-click="deleterecords(data.id)" class="btn btn-primary">Delete</button>
                                    <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false ; saverecords(data)" class="btn btn-primary">Save</button>
                                    <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-primary">Cancel</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                 <input type="button" class="btn btn-primary" value="Add Row" data-ng-click="addRow()" /> 
                <div class="col-md-12" ng-show="filteredItems == 0">
                    <div class="col-md-12">
                        <h4>No Record found</h4>
                    </div>
                </div>
                <div class="col-md-12" ng-show="filteredItems > 0">
                    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>

                </div>
            </div>
        </div>
    </div>
</div> 