Options +FollowSymlinks
RewriteEngine on
RewriteRule ^receiver /index.html [NC]
RewriteRule ^dashboard /index.html [NC]
RewriteRule ^addtrip /index.html [NC]
RewriteRule ^changepassword /index.html [NC]
RewriteRule ^transporter/expiredtrips /index.html [NC]
RewriteRule ^transporter/bankdetails /index.html [NC]
RewriteRule ^transporter/withdraw /index.html [NC]
RewriteRule ^transporter /index.html [NC]
RewriteRule ^logout /index.html [NC]
RewriteRule ^home /index.html [NC]
RewriteRule ^search /index.html [NC]
RewriteRule ^sender /index.html [NC]
RewriteRule ^addparcel /index.html [NC]
RewriteRule ^expiredparcel /index.html [NC]
RewriteRule ^refundparcel /index.html [NC]
RewriteRule ^mywallet /index.html [NC]
RewriteRule ^transbooking /index.html [NC]
RewriteRule ^tripedit /index.html [NC]
RewriteRule ^viewtrip /index.html [NC]
RewriteRule ^editparcel /index.html [NC]
RewriteRule ^viewparcel /index.html [NC]
RewriteRule ^uploadtripticket /index.html [NC]
RewriteRule ^verifyuser /index.html [NC]
RewriteRule ^parcelbooking /index.html [NC]
RewriteRule ^login /index.html [NC]
RewriteRule ^forgetpassword /index.html [NC]
RewriteRule ^associate /index.html [NC]
RewriteRule ^register /index.html [NC]
RewriteRule ^resetpassword /index.html [NC]
RewriteRule ^resetpasswordverify /index.html [NC]
RewriteRule ^pricelist /index.html [NC]
RewriteRule ^termsandcondition /index.html [NC]
RewriteRule ^aboutus /index.html [NC]
RewriteRule ^contact /index.html [NC]
RewriteRule ^faq /index.html [NC]
RewriteRule ^sendergoodpractices /index.html [NC]
RewriteRule ^transportergoodpractices /index.html [NC]
RewriteRule ^guidelinessection /index.html [NC]


RewriteRule ^admin/dashboard admin/index.html [NC]
RewriteRule ^/admin/userlist admin/index.html [NC]
RewriteRule ^admin/tripslist admin/index.html [NC]
RewriteRule ^admin/pricelist admin/index.html [NC]
RewriteRule ^admin/userlist admin/index.html [NC]
RewriteRule ^admin/tripslist admin/index.html [NC]
RewriteRule ^admin/pricelist admin/index.html [NC]
RewriteRule ^admin/seomanager admin/index.html [NC]
RewriteRule ^admin/parcellist admin/index.html [NC]
RewriteRule ^admin/bookings admin/index.html [NC]
RewriteRule ^admin/payments admin/index.html [NC]
RewriteRule ^admin/reports admin/index.html [NC]
RewriteRule ^admin/deliveryreports admin/index.html [NC]
RewriteRule ^admin/airportslist admin/index.html [NC]
RewriteRule ^admin/feedbackslist admin/index.html [NC]
RewriteRule ^admin/newsletters admin/index.html [NC]
RewriteRule ^admin/slider admin/index.html [NC]
RewriteRule ^admin/static admin/index.html [NC]
RewriteRule ^admin/login admin/index.html [NC]
RewriteRule ^admin/profile admin/index.html [NC]
RewriteRule ^admin/changepassword admin/index.html [NC]