<div ng-include="'views/head.html'"></div>
<div class="login-container blank" ng-controller="signupcontroller">
    <div class="wrapper">
        <div id="login-modal" class="modal-login">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="loginModalLabel"> Sign Up  It's free and always will be.</h4>
                    </div>
  <div class="modal-body">
            <div class="login-form-container">
                <form name="registerForm" ng-submit="register(registerForm.$valid)" novalidate> 
                    <div class="form-group user">
                        <input type="text" placeholder="First Name*" no-special-char id="registerDatafirstName" required class="form-control" name="registerDatafirstName" ng-model="registerData.firstName" maxlength="50">
                        <span class="error" ng-show="(registerForm.$submitted && registerForm.registerDatafirstName.$error.required)">First Name Required.</span>
                    </div> <div class="clear">&nbsp; </div>
                    <div class="form-group user">
                        <input type="text"  placeholder="Last Name*" maxlength="50" no-special-char id="registerDatalastName" required class="form-control" name="registerDatalastName" ng-model="registerData.lastName">
                        <span class="error" ng-show="(registerForm.$submitted  && registerForm.registerDatalastName.$error.required)">Last Name Required.</span>
                    </div><div class="clear">&nbsp; </div>
                    <div class=" form-group email">
                        <label for="login-email" class="sr-only">Your Email<span class="red">*</span> :</label>
                        <input type="email" placeholder="Email Address*" id="registerDataemail" maxlength="300" required class="form-control login-email" name="registerDataemail" ng-model="registerData.email">
                        <span class="error" ng-show="(registerForm.$submitted && registerForm.registerDataemail.$error.required)">Email Address Required.</span>
                        <span class="error" ng-show="(registerForm.$submitted && registerForm.registerDataemail.$error.email)">Please Enter Valid Email Address.</span>
                        <div id="fordiv1" style="display:none; color:red;">Email already exist!</div>
                    </div><div class="clear">&nbsp; </div>
                    <div class=" form-group passport">
                        <label for="login-email" class="sr-only">Your Passport No./ID<span class="red">*</span> :</label>
                        <input type="text" placeholder="Passport NO." id="Passport" maxlength="300" class="form-control" name="Passport" ng-model="registerData.passportno"> 
                    </div><div class="clear">&nbsp; </div>
                    <div class="form-group mobile">
                        <label for="login-mobile" class="sr-only">Mobile</label>
                        <input name="registerDatamobilenumber" valid-number required="required" placeholder="Mobile Number*" class="form-control" ng-maxlength="14" ng-minlength="6" maxlength="14" type="text" id="registerDatamobilenumber" ng-model="registerData.mobilenumber">
                        <span class="error" ng-show="(registerForm.$submitted && registerForm.registerDatamobilenumber.$error.required)">Mobile Number Required.</span>
                        <span class="error" ng-show="registerForm.registerDatamobilenumber.$error.minlength">Min Length 6.</span>
                        <span class="error" ng-show="registerForm.registerDatamobilenumber.$error.maxlength">Max Length 14.</span>

                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="form-group password">
                        <label for="login-password" class="sr-only">Password</label>
                        <input type="password" placeholder="Password*" id="registerDatapassword" required class="form-control login-password" ng-maxlength="12" ng-minlength="6" name="registerDatapassword" ng-model="registerData.password">
                        <span class="error" ng-show="(registerForm.$submitted && registerForm.registerDatapassword.$error.required)">Password Required.</span>
                        <span class="error" ng-show="registerForm.registerDatapassword.$error.minlength">Min Length 6.</span>
                        <span class="error" ng-show="registerForm.registerDatapassword.$error.maxlength">Max Length 12.</span>


                    </div><div class="clear"> &nbsp;</div>
                    <div class="form-group password">
                        <input type="password" placeholder="Confirm Password*" id="registerDatapasswordRepeat" required class="form-control" pw-check="registerDatapassword" name="registerDatapasswordRepeat" ng-model="registerData.passwordRepeat">
                        <span class="error" ng-show="(registerForm.$submitted  && registerForm.registerDatapasswordRepeat.$error.required)">Conform Password Required.</span>
                        <span class="error" ng-show="registerForm.registerDatapasswordRepeat.$error.pwmatch && registerData.passwordRepeat.length>0">These Passwords Don't Match. Try Again?</span>
                    </div><div class="clear"> &nbsp;</div>
                    <div class="form-group col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-hide='!errorRegisterDescription'>{{errorRegisterDescription}}</div>
                        <div class="alert alert-success" role="alert" ng-hide='!successRegisterMessage'>{{successRegisterMessage}}</div>
                    </div>

                    <input class="btn-block btn-cta-primary" type="submit" value="Sign Up">
                    <div class="clear f-size11 a-left">By clicking Sign Up, you agree to our Terms and that you have read our Data Policy, including our Cookie Use.</div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <p>If you are already a register user <a ui-sref="login" id="signup-link" class="signup-link">Sign in now</a></p>
        </div>
    </div>
</div>
        </div>
    </div>
    <div class="color-line"></div>
</div>
<script>
    $("#registerDatamobilenumber").intlTelInput({initialCountry: "in",numberType: "MOBILE",});
</script>
<style>
    .modal-dialog {
        max-width: 360px;
    }
</style>