<div ng-include="'views/head.html'"></div>
<div class="login-container blank" ng-controller="VerifyUserController">
    <div class="wrapper" style="min-height:600px;">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="alert alert-danger" role="alert" ng-hide='!errorverifyuserDescription'>{{errorverifyuserDescription}}</div>
        <div class="alert alert-success" role="alert" ng-hide='!successverifyuserDescription'>{{successverifyuserDescription}}</div> 
    </div>
    <div class="color-line"></div>
</div>