<div ng-include="'admin/views/head.html'"></div>
<div class="container" ng-controller="adminairportmanagerController">
    <div class="tab-form-new">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li style="left:40%;" role="presentation">
                    <a>Airport Manager</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="col-md-2">
                    <div ng-include="'admin/views/admin/adminmenu.html'"></div>
                    <div class="clear">&nbsp;&nbsp;</div>
                </div>
                <div class="col-md-10">
                    <div class="clear">&nbsp;</div>
                    <fieldset>
                        <legend>Search</legend>
                        <div class="col-md-1" style="padding-left:5px;padding-right:5px;">
                            <p class="input-group" style="width:100%;">
                                <select ng-model="entryLimit" class="form-control">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </p>
                        </div>
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;">
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                        <div class="col-md-5" style="padding-left:5px;padding-right:5px;text-align:left;">
                            <a class="btn  btn-primary" href="javascript:void(0);" ng-csv="list" filename="airports.csv" field-separator="," decimal-separator="." id="month">Export To CSV</a>
                            <a href="javascript:void(0);" class="btn  btn-primary" data-toggle="modal" data-target="#login-modal"><span>Upload CSV</span></a>
                            <a href="javascript:void(0);" class="btn btn-primary" data-toggle="modal" data-target="#addairport"><span>Add Airport</span></a>
                        </div>
                    </fieldset>
                    <h5>Filtered {{ filtered.length }} of {{ totalItems}} Total Airport</h5>
                    <div ng-show="successmessage.length" class="alert alert-success">{{successmessage}}</div>
                    <div ng-show="errormessage.length" class="alert alert-danger">{{errormessage}}</div>
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-md-12" ng-show="filteredItems > 0">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <td>
                                            Airport&nbsp;<a ng-click="sort_by('location');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </td>
                                        <th>
                                            Code&nbsp;<a ng-click="sort_by('code');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <td>
                                            Category&nbsp;
                                            <a ng-click="sort_by('type');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </td>
                                        <td>
                                            Price Zone&nbsp;
                                            <a ng-click="sort_by('Zonename');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </td>
                                        <td>
                                            Status&nbsp;
                                            <a ng-click="sort_by('status');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td>
                                            <span data-ng-hide="editMode">{{data.location}}</span>
                                            <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="data.location" data-ng-required />
                                        </td>
                                        <td>
                                            <span data-ng-hide="editMode">{{data.code}}</span>
                                            <input type="text" data-ng-show="editMode" class="form-control" data-ng-model="data.code" data-ng-required />
                                        </td> 
                                        <td>
                                            <span data-ng-hide="editMode">{{data.type=='D'?"Domestic":data.type=='I'?"International":"Both" }}</span>
                                            <select class="form-control" data-ng-show="editMode" data-ng-model="data.type" data-ng-required>
                                                <optgroup label="Select Category"></optgroup>
                                                <option ng-selected="data.type=='D'" value="D">Domestic</option>
                                                <option ng-selected="data.type=='I'" value="I">International</option>
                                                <option ng-selected="data.type=='B'" value="B">Both</option>
                                            </select>
                                        </td>
                                        <td>
                                            <span data-ng-hide="editMode">{{data.Zonename}}</span>
                                            <select class="form-control" data-ng-show="editMode" data-ng-model="data.zonelistid" data-ng-required>
                                                <optgroup label="Select Price Zone"></optgroup>
                                                <option ng-repeat="price in zonelist" ng-selected="data.zonelistid==price.id" value="{{price.id}}">{{price.Zonename}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <span data-ng-hide="editMode">{{data.status}}</span>
                                            <select class="form-control" data-ng-show="editMode" data-ng-model="data.status" data-ng-required>
                                                <optgroup label="Select Status"></optgroup>
                                                <option ng-selected="data.status=='Y'" value="Y">Yes</option>
                                                <option ng-selected="data.status=='N'" value="N">No</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(data)" class="btn btn-primary">Edit</button>
                                            <button type="submit" data-ng-hide="editMode" data-ng-click="deleterecords(data.id)" class="btn btn-primary">Delete</button>
                                            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false ; saverecords(data)" class="btn btn-primary">Save</button>
                                            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-primary">Cancel</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" ng-show="filteredItems == 0">
                            <div class="col-md-12">
                                <h4>No Record found</h4>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="filteredItems > 0">
                            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
                        </div>
                        <div role="dialog" tabindex="-1" id="addairport" class="modal modal-login">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background:#1e2d4d;">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>  <div class="row">
                                            <div class="col-md-5">
                                                <img src="/images/logo.png" alt="logo" align="left">
                                            </div><div class="col-md-6" style="text-align:left;margin-top:8px;">
                                                <label align="left" style="color:#fff;text-align:left;">Add New Airport</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="clear">&nbsp;</div>
                                            <div ng-show="errormessage.length" class="alert alert-danger">{{errormessage}}</div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Airport Name" data-ng-model="data.location" data-ng-required />
                                                </div>
                                                <div class="clear">&nbsp;</div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Airport Code" data-ng-model="data.code" data-ng-required />
                                                </div>
                                                <div class="clear">&nbsp;</div>
                                                <div class="form-group">
                                                    <select class="form-control" data-ng-model="data.type" data-ng-required>
                                                        <option value="" ng-selected="data.type==''">Select Category</option>
                                                        <option ng-selected="data.type=='D'" value="D">Domestic</option>
                                                        <option ng-selected="data.type=='I'" value="I">International</option>
                                                        <option ng-selected="data.type=='B'" value="B">Both</option>
                                                    </select>
                                                </div>
                                                <div class="clear">&nbsp;</div>
                                                <div class="form-group">
                                        <select class="form-control" data-ng-model="data.zonelistid" data-ng-required> 
                                            <option value="0" ng-selected="data.zonelistid==0">Select Price Zone</option>
                                            <option ng-repeat="price in zonelist" ng-selected="data.zonelistid==price.id" value="{{price.id}}">{{price.Zonename}}</option>
                                        </select>
                                                </div>
                                                <div class="clear">&nbsp;</div>
                                                <div class="form-group" style="text-align:left;">
                                                    <a ng-click="addRow()" href="javascript:void(0);" class="btn btn-primary">Submit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        &nbsp;
                                    </div>
                                </div>
                            </div><div class="clear">&nbsp;</div>
                        </div>
                        <div role="dialog" tabindex="-1" id="login-modal" class="modal modal-login">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background:#1e2d4d;">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>  <div class="row">
                                            <div class="col-md-5">
                                                <img src="/images/logo.png" alt="logo" align="left">
                                            </div><div class="col-md-6" style="text-align:left;margin-top:8px;">
                                                <label align="left" style="color:#fff;text-align:left;">UPLOAD CSV</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="clear">&nbsp;</div>
                                                    <input type="file" file-reader="fileContent" />
                                                </div>
                                                <div class="clear">&nbsp;</div>
                                                <div class="form-group" style="text-align:left;">
                                                    <a ng-click="uploadcsvfile()" href="javascript:void(0);" class="btn btn-primary">Save</a>
                                                    <a href="/sounds/airport.csv" target="_blank">Download Sample</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        &nbsp;
                                    </div>
                                </div>
                            </div><div class="clear">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
