<div ng-include="'admin/views/head.html'"></div>
<div class="container" ng-controller="adminbookingmanagerController">
    <div class="tab-form-new">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li style="left:40%;" role="presentation">
                    <a>Booking Manager</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="col-md-2">
                    <div ng-include="'admin/views/admin/adminmenu.html'"></div>
                    <div class="clear">&nbsp;&nbsp;</div>
                </div>
                <div class="col-md-10">
                    <div class="clear">&nbsp;&nbsp;</div>
                    <fieldset>
                        <legend>Search:</legend>
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;"><p class="input-group">
    <select ng-change="searchdatabyuser()" ng-model="timeperiod" name="data[Financial][period]" class="form-control">
        <option value="0">Select Period</option>
        <option value="7">This Week</option>
        <option value="30">This Month</option>
        <option value="366">This Year</option>
    </select></p>
</div>
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;text-align:left;">
                            <a class="btn  btn-primary" href="javascript:void(0);" ng-csv="listexportcsv" filename="bookings.csv" field-separator="," decimal-separator="." id="month">Export To CSV</a>
                        </div>
                    </fieldset> 
                    <div class="alert alert-danger" role="alert" ng-hide='!errormessage'>{{errormessage}}</div>
                    <div class="alert alert-success" role="alert" ng-hide='!successMessage'>{{successMessage}}</div>
                    <div class="col-md-1" style="padding:5px 0px;">
                        PageSize:
                        <select ng-model="entryLimit" ng-change="pageSizeChanged()" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <h5>Filtered {{ filtered.length }} of {{ totalItems}} Total Booking</h5>
                    </div> 
                    <div style="min-height:500px;">
                        <div ng-show="filteredItems > 0">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Booking ID<a ng-click="sort_by('id');">
                                                <i class="glyphicon glyphicon-sort" ng-hide="predicate == 'id'"></i>
										<i ng-show="predicate == 'id' && !reverse" class="glyphicon glyphicon-sort-by-attributes"></i> 
										<i  ng-show="predicate == 'id' && reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Booking Date<a ng-click="sort_by('created');">
                                               <i class="glyphicon glyphicon-sort" ng-hide="predicate == 'created'"></i>
										<i ng-show="predicate == 'created' && !reverse" class="glyphicon glyphicon-sort-by-attributes"></i> 
										<i  ng-show="predicate == 'created' && reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Transport ID<a ng-click="sort_by('transporterID');">
                                               <i class="glyphicon glyphicon-sort" ng-hide="predicate == 'transporterID'"></i>
										<i ng-show="predicate == 'transporterID' && !reverse" class="glyphicon glyphicon-sort-by-attributes"></i> 
										<i  ng-show="predicate == 'transporterID' && reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Sender ID<a ng-click="sort_by('usr_id');">
                                                <i class="glyphicon glyphicon-sort" ng-hide="predicate == 'usr_id'"></i>
										<i ng-show="predicate == 'usr_id' && !reverse" class="glyphicon glyphicon-sort-by-attributes"></i> 
										<i  ng-show="predicate == 'usr_id' && reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                            </a>
                                        </th>
										 <th>
                                            Parcel ID<a ng-click="sort_by('ParcelID');">
                                                <i class="glyphicon glyphicon-sort" ng-hide="predicate == 'ParcelID'"></i>
										<i ng-show="predicate == 'ParcelID' && !reverse" class="glyphicon glyphicon-sort-by-attributes"></i> 
										<i  ng-show="predicate == 'ParcelID' && reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                            </a>
                                        </th>
										 <th>
                                            Trip ID<a ng-click="sort_by('TripID');">
                                                <i class="glyphicon glyphicon-sort" ng-hide="predicate == 'TripID'"></i>
										<i ng-show="predicate == 'TripID' && !reverse" class="glyphicon glyphicon-sort-by-attributes"></i> 
										<i  ng-show="predicate == 'TripID' && reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Booking Amt<a ng-click="sort_by('payment');">
                                                <i class="glyphicon glyphicon-sort" ng-hide="predicate == 'payment'"></i>
										<i ng-show="predicate == 'payment' && !reverse" class="glyphicon glyphicon-sort-by-attributes"></i> 
										<i  ng-show="predicate == 'payment' && reverse" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                                            </a>
                                        </th>
                                        <!--<th>Order Number<a ng-click="sort_by('trans_payment');"><i class="glyphicon glyphicon-sort"></i></a></th>-->
                                        <th>
                                            Parcel  Status
                                        </th>
                                        <!--<th>
                                            Action
                                        </th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in filtered = (tripslist | filter:search | orderBy : predicate :reverse) | startFrom:(1-1)*entryLimit | limitTo:entryLimit">
                                        <th>
                                 {{data.id}} 
                                        </th>
                                        <th>
                                            {{data.created| date:"dd/MM/yyyy"}}
                                        </th>
                                        <th>
                                            <a href='javascript:void(0);' ng-click="viewuserdetails(data.transporterID)">{{data.TransporteruserID}} </a>
                                        </th>
                                        <th>
                                            <a href='javascript:void(0);;' ng-click="viewuserdetails(data.usr_id)">{{data.SenderID }} </a>
                                        </th> 
										<th>
                                            <a href='javascript:void(0);;' ng-click="viewparceldetails(data.p_id)">{{data.ParcelID }} </a>
                                        </th> <th>
                                            <a href='javascript:void(0);;' ng-click="viewtripdetails(data.t_id)">{{data.TripID }} </a>
                                        </th>
                                        <th>
                                            {{data.payment | currency:"&#8377;"}}
                                        </th>
                                        <!--<td>{{data.trans_payment}}</td>-->
                                        <td>
                                            {{data.BookingStatus}}
                                        </td>
                                        <!--<td>
                                            <div ng-show="data.parcelstatusid==3" class='dropdown'>
                                                <a href='javascript:void()' data-toggle='dropdown' class='dropdown-toggle'>Action<b class='caret'></b></a>
                                                <ul class='dropdown-menu'>
                                                    <li><a href="javascript:void(0);" ng-show="data.parcelstatusid==3" ng-click="cancellparcel(data.p_id,6)"><i class="fa fa-ban"></i>Cancel</a></li>

                                                </ul>
                                            </div>
                                            <span ng-hide="data.parcelstatusid==3">--NO Action--</span>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Total Received:{{payment.totalamount | currency:"&#8377;"}}</h4>
                            <h4>Total To Pay:{{payment.topay | currency:"&#8377;"}}</h4>
                            <h4>MCB Commission:{{payment.commission | currency:"&#8377;"}}</h4>
                        </div>
                        <div class="col-md-12" ng-show="filteredItems == 0">
                            <div class="col-md-12">
                                <h4>No Booking found</h4>
                            </div>
                        </div>
                        <div ng-show="totalItems>0" class="col-sm-12" style="">
                            <pagination total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="entryLimit"></pagination>
                        </div>
                    </div>
                    <div role="dialog" tabindex="-1" id="userdetails" class="modal modal-login">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table ng-hide="edit" id="example" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                                                <tr>
                                                    <td valign="top"><i class="fa fa-user fa-2x"></i>&nbsp;&nbsp;{{ userdetails.name}} &nbsp;{{ userdetails.l_name}}</td>
                                                </tr>
                                                <tr>

                                                    <td valign="top"><i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;{{ userdetails.username}} </td>
                                                </tr>
                                                <tr>

                                                    <td valign="top"><i class="fa fa-mobile fa-2x"></i>&nbsp;&nbsp;<span ng-show="userdetails.mobile==0">Not available</span>
<span ng-hide="userdetails.mobile==0">{{userdetails.country_code == ''?'':'+'+userdetails.country_code+'-'}}{{userdetails.mobile}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><i class="fa fa-phone fa-2x"></i>&nbsp;&nbsp;{{ userdetails.phone==""?"not available":userdetails.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <img src="/images/user.png" alt="Passport/ID Proof" title="Passport/ID Proof" />
                                                        &nbsp;&nbsp;{{ userdetails.passportno=="" || userdetails.passportno==null?"not available":userdetails.passportno}}
                                                    </td>
                                                </tr>
                                                <!--<tr>
                                                    <td valign="top"><i class="fa fa-mobile fa-3x"></i>&nbsp;&nbsp;{{ userdetails.altr_mobile==""?"not available":userdetails.altr_mobile }}</td>
                                                </tr>-->
                                                <tr>
                                                    <td valign="top"><i class="fa fa-location-arrow fa-2x"></i>&nbsp;&nbsp;{{ userdetails.addr1=="" && userdetails.addr2=="" && userdetails.addr3==""?"empty":userdetails.addr1+" "+userdetails.addr2+" "+userdetails.addr3+" "+userdetails.altr_mobile}} </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    &nbsp;
                                </div>
                            </div>
                        </div><div class="clear">&nbsp;</div>
                    </div> 
					 <div role="dialog" tabindex="-1" id="tripdetails" class="modal modal-login">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Trip {{transporter.TripID}} Details</h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered">
                                                    <tr>
                                                        <td>ID</td>
                                                        <td>{{transporter.TripID}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>From</td>
                                                        <td>{{transporter.source}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>To</td>
                                                        <td>{{transporter.destination}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Departure Time</td>
                                                        <td>{{transporter.dep_time | date:"dd/MM/yyyy 'at' h:mma"}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Arrival Time</td>
                                                        <td>{{transporter.arrival_time | date:"dd/MM/yyyy 'at' h:mma"}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Flight No</td>
                                                        <td>{{transporter.flight_no}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Pnr/Reference NO</td>
                                                        <td>{{transporter.pnr}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Status</td>
                                                        <td> {{transporter.statusdescription}} </td>

                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        &nbsp;
                                    </div>
                                </div>
                            </div><div class="clear">&nbsp;</div>
                        </div>
						 <div role="dialog" tabindex="-1" id="parceldetails" class="modal modal-login">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Parcel {{parceldetails.ParcelID}} Details</h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered">
                                                    <tr>
                                                        <td>ID</td>
                                                        <td>{{parceldetails.ParcelID}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>From</td>
                                                        <td>{{parceldetails.source}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>To</td>
                                                        <td>{{parceldetails.destination}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Till Date</td>
                                                        <td>{{parceldetails.till_date | date:"dd/MM/yyyy"}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td>{{parceldetails.type=='E'?'Envelope':parceldetails.type=='B'?'Box':parceldetails.type=='P'?'Packet':parceldetails.type}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>description</td>
                                                        <td>{{parceldetails.description}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Weight</td>
                                                        <td>{{parceldetails.weight}}Kg</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Status</td>
                                                        <td> {{parceldetails.statusdescription}} </td> 
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        &nbsp;
                                    </div>
                                </div>
                            </div><div class="clear">&nbsp;</div>
                        </div>
                </div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>
<script>
    function senderbooknow(id) {
        angular.element('.container').scope().senderbooknow(id);
    }
</script>
<style>
    td, th {
        padding: 8px 2px !important;
        text-align: center;
    }

    #userdetails table tr td, #userdetails table tr th {
        text-align: left;
        padding-left: 10px;
    }
</style>