<div ng-include="'admin/views/head.html'"></div>
<div class="container" ng-controller="admindeliveryreportmanagerController">
    <div class="tab-form-new">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" style="left:40%;">
                    <a>Delivery Reports</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="col-md-2">
                    <div ng-include="'admin/views/admin/adminmenu.html'"></div>
                    <div class="clear">&nbsp;&nbsp;</div>
                </div>
                <div class="col-md-10">
                    <fieldset>
                        <legend>Search:</legend>
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;">
                            <select ng-change="searchdatabyuser()" ng-model="timeperiod" name="data[Financial][period]" class="form-control">
                                <option value="0">Select Period</option>
                                <option value="7">This Week</option>
                                <option value="30">This Month</option>
                                <option value="366">This Year</option>
                            </select>
                        </div>
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;">
                            <select name="data[Financial][status]" class="smallselect" ng-model="statussearch" ng-change="searchdatabyuser()">
                                <option value="0">Select Status</option>
                                <option value="6">Delivered</option>
                                <option value="3">Pending</option>
                            </select>
                        </div>
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;text-align:left;">
                            <a class="btn  btn-primary" href="javascript:void(0);" ng-csv="listexportcsv" filename="deliveryreport.csv" field-separator="," decimal-separator="." id="month">Export To CSV</a>
                        </div>
                        <div class="clear">&nbsp;</div>
                    </fieldset>
                    <div class="row">
                        <div class="col-md-2">
                            PageSize:
                            <select ng-model="entryLimit" ng-change="pageSizeChanged()" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <h5>Filtered {{ filtered.length }} of {{ totalItems}} Total Booking</h5>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-hide='!errormessage'>{{errormessage}}</div>
                    <div class="alert alert-success" role="alert" ng-hide='!successMessage'>{{successMessage}}</div>
                    <div class="row" style="min-height:500px;">
                        <div class="col-md-12" ng-show="filteredItems > 0">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Booking ID<a ng-click="sort_by('id');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Booking Date<a ng-click="sort_by('created');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Transport ID<a ng-click="sort_by('transporterID');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Sender <a ng-click="sort_by('usr_id');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Revceiver <a ng-click="sort_by('ReceiverID');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Booking Amt<a ng-click="sort_by('payment');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Order Number<a ng-click="sort_by('trans_payment');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Parcel  Status
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in filtered = (tripslist | filter:search | orderBy : predicate :reverse) | startFrom:(1-1)*entryLimit | limitTo:entryLimit">
                                        <th>
                                            {{data.id}}
                                        </th>
                                        <th>
                                            {{data.created| date:"dd/MM/yyyy"}}
                                        </th>
                                        <th>
                                            <a href='javascript:void(0);' ng-click="viewuserdetails(data.transporterID)">{{data.TransporteruserID}} </a>
                                        </th>
                                        <th>
                                            <a href='javascript:void(0);;' ng-click="viewuserdetails(data.usr_id)">{{data.SenderID }} </a>
                                        </th>
                                        <th>
                                            <a href='javascript:void(0);;' ng-click="viewuserdetails(data.ReceiverID)">{{data.ReceiverMCBID }} </a>
                                        </th>
                                        <th>
                                            {{data.payment | currency:"&#8377;"}}
                                        </th>
                                        <td>
                                            {{data.trans_payment}}
                                        </td>
                                        <td>
                                            {{data.BookingStatusdesc==6?"Complete":"Pending"}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Total Complete Parcels Total:{{payment | currency:"&#8377;"}}</h4>
                        </div>
                        <div class="col-md-12" ng-show="filteredItems == 0">
                            <div class="col-md-12">
                                <h4>No Booking found</h4>
                            </div>
                        </div>
                        <div ng-show="totalItems>0" class="col-sm-12" style="">
                            <pagination total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="entryLimit"></pagination>
                        </div>
                    </div>
                    <div role="dialog" tabindex="-1" id="userdetails" class="modal modal-login">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table ng-hide="edit" id="example" class="table table-striped table-bordered dt-responsive nowrap">
                                                <tr>
                                                    <td valign="top"><i class="fa fa-user fa-2x"></i>&nbsp;&nbsp;{{ userdetails.name}} &nbsp;{{ userdetails.l_name}}</td>
                                                </tr>
                                                <tr>

                                                    <td valign="top"><i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;{{ userdetails.username}} </td>
                                                </tr>
                                                <tr>

                                                    <td valign="top"><i class="fa fa-mobile fa-2x"></i>&nbsp;&nbsp;+{{ userdetails.country_code}}-{{ userdetails.mobile}}</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><i class="fa fa-phone fa-2x"></i>&nbsp;&nbsp;{{ userdetails.phone==""?"not available":userdetails.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <img src="/images/user.png" alt="Passport/ID Proof" title="Passport/ID Proof" />
                                                        &nbsp;&nbsp;{{ userdetails.passportno=="" || userdetails.passportno==null?"not available":userdetails.passportno}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><i class="fa fa-mobile fa-3x"></i>&nbsp;&nbsp;{{ userdetails.altr_mobile==""?"not available":userdetails.altr_mobile }}</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><i class="fa fa-location-arrow fa-2x"></i>&nbsp;&nbsp;{{ userdetails.addr1=="" && userdetails.addr2=="" && userdetails.addr3==""?"empty":userdetails.addr1+" "+userdetails.addr2+" "+userdetails.addr3}} </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    &nbsp;
                                </div>
                            </div>
                        </div><div class="clear">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>
<script>
    function senderbooknow(id) {
        angular.element('.container').scope().senderbooknow(id);
    }
</script>
<style>
    td, th {
        padding: 8px 2px !important;
        text-align: center;
    }

    #userdetails table tr td, #userdetails table tr th {
        text-align: left;
        padding-left: 10px;
    }
</style>