<div ng-include="'admin/views/head.html'"></div>
<div class="container" ng-controller="adminparcelmanagerController">
    <div class="tab-form-new">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li style="left:40%;" role="presentation">
                    <a>Parcel Manager</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="col-md-2">
                    <div ng-include="'admin/views/admin/adminmenu.html'"></div>
                    <div class="clear">&nbsp;&nbsp;</div>
                </div>
                <div class="col-md-10">
                    <div class="alert alert-danger" role="alert" ng-hide='!errormessage'>{{errormessage}}</div>
                    <div class="alert alert-success" role="alert" ng-hide='!successMessage'>{{successMessage}}</div>
                    <form ng-submit="searchdatabyuser()">
                        <div class="clear"> &nbsp;</div>
                        <fieldset>
                            <legend>Search:</legend>
                            <div style="padding-left:5px;padding-right:5px;" class="col-md-2">
                                <input name="t_id" ng-model="TransporterID" type="text" placeholder="Parcel ID" class="form-control" id="TripTId">
                            </div>
                            <div style="padding-left:5px;padding-right:5px;" class="col-md-3"> 
                                <p class="input-group">
                                    <input name="tilldate" placeholder="Till Date" id="tilldate" class="quote_date form-control" ng-model="departureat" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" datepicker-popup="dd-MM-yyyy" is-open="status0.opened" close-text="Close" />
                                    <span class="input-group-btn"> <button type="button" class="btn btn-default" ng-click="open0($event)"><i class="glyphicon glyphicon-calendar"></i></button> </span>
                                </p>
                            </div>
                            <div style="padding-left:5px;padding-right:5px;" class="col-md-3">
                                <select name="data[Trip][status]" ng-model="status" id="ParcelStatus" class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="0">Parcel Created</option>
                                    <option value="1">Booked with Payment Due</option>
                                    <option value="2">Booked With TR</option>
                                    <option value="3">Parcel Collected</option>
                                    <option value="4">Parcel Delivered</option>
                                    <option value="5">Delivery Complete</option>
                                    <option value="6">Cancelled</option>
                                    <option value="7">Not Received</option>
                                    <option value="9">Rejected by Tr</option>
                                </select>
                            </div>
                            <div style="padding-left:5px;padding-right:5px;" class="col-md-1">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                            <div style="padding-left:5px;padding-right:5px;text-align:left;" class="col-md-2">
                                <a class="btn  btn-primary" href="javascript:void(0);" ng-csv="listexportcsv" filename="parcel.csv" field-separator="," decimal-separator="." id="month">Export To CSV</a>
                            </div>
                        </fieldset>

                    </form>
                    <div class="col-md-1" style="padding:5px 0px;">
                        PageSize:
                        <select ng-model="entryLimit" ng-change="pageSizeChanged()" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <h5>Filtered {{ filtered.length }} of {{ totalItems}} Total Parcel</h5>
                    </div>
                    <div class="col-md-12" ng-show="filteredItems > 0" style="padding:0px;">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Parcel ID<a ng-click="sort_by('ParcelID');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </th>
                                    <th>
                                        From<a ng-click="sort_by('source');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </th>
                                    <th>
                                        To<a ng-click="sort_by('destination');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </th>
                                    <th>
                                        Till Date<a ng-click="sort_by('till_date');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </th>
                                    <th>
                                        Parcel Type<a ng-click="sort_by('type');">
    <i class="glyphicon glyphicon-sort"></i>
</a>
                                    </th>
                                    <th>
                                        Pkg. Weight<a ng-click="sort_by('weight');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </th>
                                    <th>
                                        Amount Pay<a ng-click="sort_by('payment');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Reason
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in filtered = (tripslist | filter:search | orderBy : predicate :reverse) | startFrom:(1-1)*entryLimit | limitTo:entryLimit">
                                    <th>
                                        {{data.ParcelID}}
                                    </th>
                                    <th>
                                        {{data.source}}
                                    </th>
                                    <th>
                                        {{data.destination}}
                                    </th>
                                    <th>
                                        {{data.till_date| date:"dd/MM/yyyy"}}
                                    </th>
                                    <th>{{data.type=='E'?'Envelope':data.type=='B'?'Box':data.type=='P'?'Packet':data.type}} </th>
                                    <th>
                                        {{data.weight}}Kg
                                    </th>
                                    <th>
                                        {{data.payment | currency:"&#8377;"}}
                                    </th>
                                    <td>{{data.statusdescription}}</td>
                                    <td>{{ data.reason | limitTo: 20 }}<a ng-show="data.reason.length > 20" href="javascript:void(0);" ng-click="readMore(data.reason)">{{data.reason.length > 20 ? '...' : ''}}</a>
                                    </td>
                                    <td>
<div class='dropdown' ng-show="data.status==0 || data.status==9 || data.status==1">
<a href='javascript:void()' data-toggle='dropdown' class='dropdown-toggle'>Action<b class='caret'></b></a>
<ul class='dropdown-menu'>
<li><a href="javascript:void(0);" ng-show="data.status==0" ng-click="possiblematch(data.id)"><i class="fa fa-database"></i>Possible Match</a> </li>
    <li><a href="javascript:void(0);" ng-show="data.status==0 || data.status==1 || data.status==2" ng-click="cancellparcel(data.id,6)"><i class="fa fa-times"></i>Cancel</a></li>
<li><a href="javascript:void(0);" ng-show="data.status==9" ng-click="cancellparcel(data.id,0)"><i class="fa fa-times"></i>Set Active</a></li>
<li><a href="javascript:void(0);" ng-show="data.status==1" ng-click="cancellparcel(data.id,0)"><i class="fa fa-times"></i>Release Booking</a></li>
<!--<li><a href="javascript:void(0);" ng-show="data.status==7" ng-click="cancellparcel(data.id,8)"><i class="fa fa-times"></i>Refund</a></li>-->
</ul>
</div>
                                        <span ng-hide="data.status==0 || data.status==1 || data.status==9">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" ng-show="filteredItems == 0">
                        <div class="col-md-12">
                            <h4>No Parcel found</h4>
                        </div>
                    </div>
                    <div ng-show="totalItems>0" class="col-sm-12" style="">
                        <pagination total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="entryLimit"></pagination>
                    </div>

                    <div role="dialog" tabindex="-1" id="message-box" class="modal" ng-class="tripsmatch.length==0?'modal-login':'modal-video'">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-hide="tripsmatch.length==0" class="gridsystem">
                                                <h3>Transporter's Match Found</h3>
                                                <table id="example" class="table table-striped table-bordered dt-responsive "  >
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>From </th>
                                                            <th>To</th>
                                                            <th>Dep Time</th>
                                                            <th>Arrival Time</th>
                                                            <th>Capacity (kg.)</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <div ng-show="tripsmatch.length==0" class="gridsystem">
                                                No Match Found
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    &nbsp;
                                </div>
                            </div>
                        </div><div class="clear">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>
<style>
    td, th {
        padding: 8px 2px !important;
        text-align: center;
    }

    .pay-h-s form input[type=submit], .dash-cntnt input[type=submit] {
        margin: 0;
        padding: 5px;
    }

    .left-tab-cont {
        width: 90%;
    }
    #example{width:100%!important;}

    .searchbar {
        border: 1px solid #DDD;
    }
</style>
<script>
    function senderbooknow(id) { 
        angular.element('.container').scope().senderbooknow(id);
    }
</script>
