<div ng-include="'admin/views/head.html'"></div>
<div class="container" ng-controller="adminsliderController">
    <div class="tab-form-new">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a>Slider Images List</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="col-md-2">
                    <div ng-include="'admin/views/admin/adminmenu.html'"></div>
                    <div class="clear">&nbsp;&nbsp;</div>
                </div>
                <div class="col-md-10">
                    <div class="clear">&nbsp;</div>
                    <fieldset>
                        <div class="clear">&nbsp;</div>
                        <div class="col-md-2">
                            PageSize:
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            Filter:
                            <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                        </div>
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;text-align:left;">
                            <a class="btn  btn-primary" style="margin-top:20px;" href="javascript:void(0);" ng-csv="list" filename="sliders.csv" field-separator="," decimal-separator="." id="month">Export To CSV</a>
                        </div>
                        <div class="clear">&nbsp;</div>
                    </fieldset><div class="clear">&nbsp;</div><h5>Filtered {{ filtered.length }} of {{ totalItems}} Total Airport</h5>
                    <div ng-show="successmessage.length" class="alert alert-success">{{successmessage}}</div>
                    <div ng-show="errormessage.length" class="alert alert-danger">{{errormessage}}</div>
                    <br />
                    <div class="row">
                        <div class="col-md-12" ng-show="filteredItems > 0">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Title&nbsp;<a ng-click="sort_by('title');">
    <i class="glyphicon glyphicon-sort"></i>
</a>
                                        </th>
                                        <th>
                                            Image&nbsp;<a ng-click="sort_by('name');"> 
</a>
                                        </th> 
                                        <th>
                                            Created&nbsp;
                                            <a ng-click="sort_by('created');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                            Status&nbsp;
                                            <a ng-click="sort_by('status');">
                                                <i class="glyphicon glyphicon-sort"></i>
                                            </a>
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td>{{data.title}}  </td>
                                        <td><img style="width:400px;" title="{{data.title}}" src="{{serviceBase+data.name}}" />   </td>  
                                        <td>
                                            <span>{{data.created}}</span>
                                        </td>
                                        <td>
                                            <span>{{data.status=="Y"?"Approved":"Blocked"}}</span>
                                        </td>
                                        <td>
                                            <button type="submit" data-ng-click="editAppKey(data)" class="btn btn-primary">Edit</button>
                                            <button type="submit" data-ng-click="deleteAppKey(data)" class="btn btn-primary">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <input type="button" class="btn btn-primary" value="Add New Image" data-ng-click="addRow()" />
                        <div class="col-md-12" ng-show="filteredItems == 0">
                            <div class="col-md-12">
                                <h4>No Record found</h4>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="filteredItems > 0">
                            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="dialog" tabindex="-1" id="userdetails" class="modal  modal-login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form ng-submit="submitcontentdetails()" name="frm">
                            <div class="col-md-12">
                                <table ng-hide="edit" id="example" class="table table-striped table-bordered dt-responsive nowrap">
                                    <tr>
                                        <td>Title</td>
                                        <td><input type="text" class="form-control" ng-model="contentsingle.title" /></td>
                                    </tr>
                                    <tr>
                                        <td>Image</td>
                                         <td><input type="file" name="ticket" class="input-file" ng-model="ticket" base-sixty-four-input accept="image/*"></td>
                                    </tr> 
                                    <tr>
                                        <td>Status</td>
                                        <td>
                                            <select class="form-control" data-ng-model="contentsingle.status" data-ng-required>
                                                <optgroup label="Select Status"></optgroup>
                                                <option ng-selected="contentsingle.status=='Y'" value="Y">Yes</option>
                                                <option ng-selected="contentsingle.status=='N'" value="N">No</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input type="submit" value="Submit" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    &nbsp;
                </div>
            </div>
        </div><div class="clear">&nbsp;</div>
    </div>
</div>
