<div ng-include="'admin/views/head.html'"></div>
<div class="container" ng-controller="adminusersController">
    <div class="tab-form-new">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li style="margin-left:40%;" role="presentation">
                    <a>User Manager</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="col-md-2">
                    <div ng-include="'admin/views/admin/adminmenu.html'"></div>
                    <div class="clear">&nbsp;&nbsp;</div>
                </div>
                <div class="col-md-10">
                    <div class="clear">&nbsp;</div>
                    <fieldset> 
                        <legend>Search:</legend> 
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;">
                            <p class="input-group">
                                <select name="data[Search][type]" ng-change="searchusers()" ng-model="userrole" class="form-control">
                                    <option value="">Role Type</option>
                                    <option value="T">Transporter</option>
                                    <option value="S">Sender</option>
                                    <option value="R">Receiver</option>
                                </select></p>
</div>
                        <div class="col-md-3" style="padding-left:5px;padding-right:5px;">
                            <select name="data[Search][status]" ng-change="searchusers()" ng-model="userstatus" class="form-control">
                                <option value="">Status</option>
                                <option value="Y">Active</option>
                                <option value="N">Inactive</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="padding-left:5px;padding-right:5px;text-align:left;">
                            <a class="btn  btn-primary" href="javascript:void(0);" ng-click="searchusersdays(7)" id="week">This Week</a>
                            <a class="btn  btn-primary" href="javascript:void(0);" id="month" ng-click="searchusersdays(30)">This Month</a>
                            <a class="btn  btn-primary" href="javascript:void(0);" ng-csv="listexportcsv" filename="users.csv" field-separator="," decimal-separator="." id="month">Export To CSV</a>
                        </div> 
                    </fieldset> 
                    <div class="col-md-4" style="padding:5px 5px 5px 0;">
                        <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                    </div>
                    <div class="col-md-2" style="padding:5px 0px;">
                        <select ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <h5 style="text-align:right;margin-top:17px;">Filtered {{ filtered.length }} of {{ totalItems}} Total Users</h5>
                    </div> 
                    <div ng-show="successmessage.length" class="alert alert-success">{{successmessage}}</div>
                    <div ng-show="errormessage.length" class="alert alert-danger">{{errormessage}}</div>
                    <br />
                    <div class="col-md-12" ng-show="filteredItems > 0" style="padding-left:0px;padding-right:0px;">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        S.No:
                                    </td>
                                    <td>
                                        User ID &nbsp;<a ng-click="sort_by('UserID');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Name&nbsp;
                                        <a ng-click="sort_by('name');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </td>
                                    <td>
                                        Mobile 
                                    </td>
                                    <td>
                                        Email
                                    </td>
                                    <td>
                                        Status&nbsp;
                                        <a ng-click="sort_by('status');">
                                            <i class="glyphicon glyphicon-sort"></i>
                                        </a>
                                    </td>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                    <td>
                                        <span>{{((currentPage-1)*entryLimit)+$index+1}}</span>
                                    </td>
                                    <td>
                                        <span>{{data.UserID}}</span>
                                    </td>
                                    <td>
                                        <span>{{data.name }}</span>
                                    </td>
                                    <td>
                                        <span>{{data.mobile==0?"--NA--":data.mobile }}</span>
                                    </td>
                                    <td>
                                        <span>{{data.username }}</span>
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode">{{data.status}}</span><br data-ng-hide="editMode || data.status=='Y' || data.remark==''" />
                                        <span data-ng-hide="editMode || data.status=='Y'">{{data.remark}}</span>
                                        <select class="form-control" data-ng-show="editMode" data-ng-model="data.status" data-ng-required>
                                            <optgroup label="Select Status"></optgroup>
                                            <option ng-selected="data.status=='Y'" value="Y">Yes</option>
                                            <option ng-selected="data.status=='N'" value="N">No</option>
                                        </select>
                                        <input type="text" placeholder="Remark" data-ng-show="editMode && data.status=='N'" ng-model="data.remark" />
                                    </td>
                                    <td>
                                        <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(data)" class="btn btn-primary">Edit</button>
                                        <!--<button type="submit" data-ng-hide="editMode" data-ng-click="deleterecords(data.id)" class="btn btn-primary">Delete</button>-->
                                        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false ; saverecords(data)" class="btn btn-primary">Save</button>
                                        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-primary">Cancel</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" ng-show="filteredItems == 0">
                        <div class="col-md-12">
                            <h4>No Record found</h4>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="filteredItems > 0">
                        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
