<div ng-include="'views/head.html'"></div>
<div class="container" ng-controller="CancelParcelController">
    <div class="tab-form-new">
        <div ng-include="'views/dashboardmenu.html'"></div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="row">
                    <div class="col-md-12 inner-tab-form-new">
                        <div class="row">
                            <div class="col-md-2">
                                <div ng-include="'views/parcel/sendermenu.html'"></div>
                                <h1>Search Parcel</h1>
                                <div class="searchtrip">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label">Parcel ID</label>
                                            <input name="t_id" maxlength="20" class="form-control" ng-model="TransporterID" ng-change="searchByFilter()" type="text" id="TripTId">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label">Deliver Till</label>
                                            <input maxlength="100" name="data" class="quote_date form-control" value="{{ departureat | date:'dd-MM-yyyy' }}" />
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label">Status</label>
                                            <select name="data[Trip][status]" ng-model="status" ng-change="searchByFilter()" class="form-control" id="TripStatus">
                                                <option value="">Select Status</option>
                                                <option value="0">Parcel ID Created</option>
                                                <option value="1">Created Payment Due</option>
                                                <option value="2">Booked With TR</option>
                                                <option value="3">Parcel Collected</option>
                                                <option value="4">Parcel Delivered</option>
                                                <option value="5">Delivery Complete</option>
                                                <option value="6">Cancelled</option>
                                                <option value="9">Rejected by Tr</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label">&nbsp;&nbsp;</label>
                                            <input style="font-size:15px; width:100%;text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);  color:#fff;font-family: 'proxima_novasemibold'; text-transform:uppercase;    background: -moz-linear-gradient(270deg, rgba(144,193,81,1) 0%, rgba(107,162,35,1) 100%);     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(144,193,81,1)), color-stop(100%, rgba(107,162,35,1)));     background: -webkit-linear-gradient(270deg, rgba(144,193,81,1) 0%, rgba(107,162,35,1) 100%);     background: -o-linear-gradient(270deg, rgba(144,193,81,1) 0%, rgba(107,162,35,1) 100%);      background: -ms-linear-gradient(270deg, rgba(144,193,81,1) 0%, rgba(107,162,35,1) 100%);     background: linear-gradient(180deg, rgba(144,193,81,1) 0%, rgba(107,162,35,1) 100%);     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c151', endColorstr='#6ba223',GradientType=0 ); " type="submit" value="Search" ng-click="searchByFilter()" />
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">&nbsp;</div>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="example" class="table table-striped table-bordered  dt-responsive " cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Parcel ID</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Type</th>
                                                    <th>Weight</th>
                                                    <th>Transporter</th>
                                                    <th>Receiver</th>
                                                    <th>Delivery Till</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <style>
                                    .dataTables_length, .dataTables_info {
                                        text-align: left;
                                    }
                                </style>
                            </div>
                        </div>
                        <div role="dialog" tabindex="-1" id="userdetails" class="modal modal-login">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table ng-hide="edit" id="example" class="table table-striped table-bordered  dt-responsive " cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top"><i class="fa fa-user fa-2x"></i>&nbsp;&nbsp;{{ userdetails.name}} &nbsp;{{ userdetails.l_name}}</td>
                                                    </tr>
                                                    <tr>

                                                        <td valign="top"><i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;{{ userdetails.username}} </td>
                                                    </tr>
                                                    <tr>

                                                        <td valign="top">
                                                            <i class="fa fa-mobile fa-2x"></i>&nbsp;&nbsp;
                                                            <span ng-show="userdetails.mobile==0">Not available</span>
                                                            <span ng-hide="userdetails.mobile==0">{{userdetails.country_code == ''?'':'+'+userdetails.country_code+'-'}}{{userdetails.mobile}}</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        &nbsp;
                                    </div>
                                </div>
                            </div><div class="clear">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.quote_date').Zebra_DatePicker({
        direction: 0, format: 'd-m-Y'
    });
    function cancelparcellist(id) {
        angular.element('.container').scope().cancelparcellist(id);

    }
    function getuserdetails(id) {
        angular.element('.container').scope().viewuserdetails(id);
    }
    function changestatusparcel(id, status) {
        angular.element('.container').scope().changestatusparcel(id, status);
    }
    function showchat(id, parcelid) {
        angular.element('.chatmessagepopup').scope().showchat(id, parcelid);
    }
</script>
<style>
    .dropdown-menu > li > a {
        color: #fff !important;
    }

    .tab-form-new ul li ul {
        background: #3b5998 !important;
    }

    .modal-dialog td {
        text-align: left;
    }
</style>