<div ng-include="'views/head.html'"></div>
<div ng-controller="mywalletController">
    <div class="wrapper">
        <div class="container">
            <div class="tab-form-new">
                <div ng-include="'views/dashboardmenu.html'"></div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Dashboard">
                        <div class="row">
                            <div class="col-md-12 inner-tab-form-new">
                                <div class="row"> 
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table id="example" class="table table-striped table-bordered dt-responsive nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Trip ID</th>
                                                            <th>Parcel ID</th>
                                                            <th>WithDrawID</th>
                                                            <th>Date</th> 
                                                            <th>Earned Amount</th>
                                                            <th>Used Amount</th>
                                                            <th>Withraw Amount</th>
                                                            <th>Status</th> 
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <center> <h2> Current Balance:{{userdetails.targetamount | currency:"&#8377;"}}</h2></center>
                                        </div>

                                        <script>
                                            $(document).ready(function () {
                                                $('#example').DataTable({
                                                    searching: false
                                                });
                                            });
                                        </script>
                                        <style>
                                            .dataTables_length, .dataTables_info {
                                                text-align: left;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div role="dialog" tabindex="-1" id="parceldetails" class="modal modal-login">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>Parcel {{parcelsingle.ParcelID}}</h4>
                                            <table ng-hide="edit" id="example" class="table table-striped table-bordered dt-responsive nowrap">
                                                <tr>
                                                    <td>From</td>
                                                    <td>{{parcelsingle.source}}</td>
                                                </tr>
                                                <tr>
                                                    <td>To</td>
                                                    <td>{{parcelsingle.destination}}</td>
                                                </tr> 
                                                <tr>
                                                    <td>Weight</td>
                                                    <td>{{parcelsingle.weight}}Kg</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">&nbsp;</div>
                            </div>
                            <div role="dialog" tabindex="-1" id="tripdetails" class="modal modal-login">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>Trip {{tripsingle.TripID}}</h4>
                                            <table ng-hide="edit" id="example" class="table table-striped table-bordered dt-responsive nowrap">
                                                <tr>
                                                    <td>From</td>
                                                    <td>{{tripsingle.source}}</td>
                                                </tr>
                                                <tr>
                                                    <td>To</td>
                                                    <td>{{tripsingle.destination}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Weight</td>
                                                    <td>{{tripsingle.capacity}}Kg</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">&nbsp;</div>
                            </div>
                            <div role="dialog" tabindex="-1" id="paymentdetails" class="modal modal-login">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>With Draw ID  {{paymentsingle.withdrawID}}</h4>
                                            <table ng-hide="edit" id="example" class="table table-striped table-bordered dt-responsive nowrap">
                                                <tr>
                                                    <td>Bank Name</td>
                                                    <td>{{paymentsingle.bank_name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Bank Account No</td>
                                                    <td>{{paymentsingle.acct_no}}</td>
                                                </tr>
                                                <tr>
                                                    <td>TransactionID</td>
                                                    <td>{{paymentsingle.TransactionID}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openpopup(id, status) { 
        angular.element('.container').scope().openpopup(id, status);
    }
</script>