<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="isActive('/sender') ?'active':''"><a aria-controls="home" role="tab" data-toggle="tab" ui-sref="sender"><i class="fa fa-plane" aria-hidden="true"></i> My Parcels</a></li>
    <li role="presentation" ng-class="isActive('/addparcel') ?'active':''">
        <a aria-controls="profile" role="tab" data-toggle="tab" ui-sref="addparcel"><i class="fa fa-plus" aria-hidden="true"></i>Add Parcel</a></li>
    <li role="presentation" ng-class="isActive('/cancelparcel') ?'active':''"><a aria-controls="messages" role="tab" data-toggle="tab" ui-sref="cancelparcel"><i class="fa fa-times" aria-hidden="true"></i>Cancelled Parcels</a></li>
    <li role="presentation" ng-class="isActive('/refundparcel') ?'active':''"><a ui-sref="refundparcel" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-university" aria-hidden="true"></i>Refunded Parcels</a></li> 
</ul>