<div ng-include="'views/head.html'"></div>
<div ng-controller="faqController">
    <div class="faq in-page">
        <div class="wrapper">
            <div class="page-heading">FAQ</div>
            <ul>
                <li>
                    <strong>Does the student travel on Metro and pay a fare?</strong>
                    <p>
                        You can apply directly to Metro online or in store. For more information about Metro travel
                        You can apply directly to Metro online or in store. For more information about Metro travel
                    </p>
                </li>
                <li>
                    <strong>Does the student travel on Metro and pay a fare?</strong>
                    <p>
                        You can apply directly to Metro online or in store. For more information about Metro travel
                        You can apply directly to Metro online or in store. For more information about Metro travel
                    </p>
                </li>
                <li>
                    <strong>Does the student travel on Metro and pay a fare?</strong>
                    <p>
                        You can apply directly to Metro online or in store. For more information about Metro travel
                        You can apply directly to Metro online or in store. For more information about Metro travel
                    </p>
                </li>
                <li>
                    <strong>Does the student travel on Metro and pay a fare?</strong>
                    <p>
                        You can apply directly to Metro online or in store. For more information about Metro travel
                        You can apply directly to Metro online or in store. For more information about Metro travel
                    </p>
                </li>
                <li>
                    <strong>Does the student travel on Metro and pay a fare?</strong>
                    <p>
                        You can apply directly to Metro online or in store. For more information about Metro travel
                        You can apply directly to Metro online or in store. For more information about Metro travel
                    </p>
                </li>
                <li>
                    <strong>Does the student travel on Metro and pay a fare?</strong>
                    <p>
                        You can apply directly to Metro online or in store. For more information about Metro travel
                        You can apply directly to Metro online or in store. For more information about Metro travel
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>