<footer>
    <div class="wrapper">
        <div class="f-links">
            <h3>About Company</h3>
            <ul>
                <li><a ui-sref="home" ui-sref-opts="{reload: true}">Home</a></li>
                <li><a ui-sref="aboutus" ui-sref-opts="{reload: true}">About Us</a></li>
                <li><a ui-sref="contact" ui-sref-opts="{reload: true}">Contact Us</a></li>
                <li><a ui-sref="faq" ui-sref-opts="{reload: true}">FAQ</a></li>
            </ul>
        </div>
        <div class="f-links">
            <h3>Policy Info </h3>
            <ul>
                <li><a ui-sref="termsandcondition" ui-sref-opts="{reload: true}">Terms and Conditions</a></li>
                <li><a ui-sref="sendergoodpractices" ui-sref-opts="{reload: true}">Sender Good Practices</a></li>
                <li><a ui-sref="transportergoodpractices" ui-sref-opts="{reload: true}">Transporter Good Practices</a></li>
                <li><a ui-sref="guidelinessection" ui-sref-opts="{reload: true}">Guidelines Section</a></li>
            </ul>
        </div>
        <div class="f-info">
            <h6>MCB</h6>
            <p> </p>
            <div class="social">
                <ul>
                    <li><a target="_blank" class="fa fa-facebook" href="http://www.facebook.com/"></a></li>
                    <li><a target="_blank" class="fa fa-twitter" href="www.twitter.com/&lrm;"></a></li>
                    <li><a target="_blank" class="fa fa-pinterest-p" href="https://in.pinterest.com/"></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="chatmessagepopup" ng-controller="chatmessagesController">
    <div style="display:none">
        <div id="notif"></div>
        <audio id="notif_audio">
            <source src="/sounds/notify.ogg" type="audio/ogg">
            <source src="/sounds/notify.mp3'" type="audio/mpeg">
            <source src="/sounds/notify.wav" type="audio/wav">
        </audio>
    </div>
    <div ng-repeat="chat in chatslist">
        <div class="popup-box chat-popup popup-box-on" ng-hide="chat.isminimized" style="right:{{screenresolation<=680?71:111}}px">
            <div class="popup-head" ng-click="minimizechat($index)">
                <h3 class="popup-head-left pull-left">P{{chat.parcelid}}</h3>
                <div class="popup-head-right pull-right">
                    <button data-widget="remove" ng-click="removechat($index)" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
                    <button data-widget="remove" ng-click="minimizechat($index)" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-minus"></i></button>
                </div>
                <div class="clear">  </div>
                Welcome {{users.transportername | limitTo : 8 | capitalize}}/{{users.sendername | limitTo : 8 | capitalize}}/{{users.receivername | limitTo : 8 | capitalize}}.
            </div>
            <div class="popup-messages" id="popupmessagesscroller" scroll="popupmessagesscroller">
                <div class="direct-chat-messages">
                    <div ng-repeat="mess in chat.messages">
                        <div class="chat-box-single-line">
                            <abbr class="timestamp">{{mess.date | date:'MMM ,dd ,yyyy'}}</abbr>
                        </div>
                        <div ng-repeat="mo in mess.messages">
                            <div class="direct-chat-msg doted-border" ng-hide="loginuserid==mo.id">
                                <div class="direct-chat-info clearfix" ng-hide="$index>0 && mess.messages[$index-1].id==mess.messages[$index].id">
                                    <span class="direct-chat-name pull-left">{{mo.username}}</span>
                                </div>
                                <img alt="iamgurdeeposahan" src="/images/chatuser.png" class="direct-chat-img" ng-hide="$index>0 && mess.messages[$index-1].id==mess.messages[$index].id" />
                                <div class="direct-chat-text">
                                    {{mo.message}}
                                </div>
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-timestamp pull-right">{{mo.created | date:"h:mma"}}</span>
                                </div>
                                <!--<div class="direct-chat-info clearfix" ng-hide="$index>0 && mess.messages[$index].id==mess.messages[$index+1].id">
                                    <span class="direct-chat-img-reply-small pull-left">

                                    </span>
                                </div>-->
                            </div>
                            <div class="direct-chat-msg doted-borderright" ng-show="loginuserid==mo.id">
                                <div class="direct-chat-info clearfix" ng-hide="$index>0 && mess.messages[$index-1].id==mess.messages[$index].id">
                                    <span class="direct-chat-nameright pull-right">{{mo.username}}</span>
                                </div>
                                <img alt="iamgurdeeposahan" src="/images/chatuser.png" class="direct-chat-imgright" ng-hide="$index>0 && mess.messages[$index-1].id==mess.messages[$index].id">
                                <div class="direct-chat-textright">
                                    {{mo.message}}
                                </div>
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-timestamp pull-left">{{mo.created | date:"h:mma"}}</span>
                                </div>
                                <!--<div class="direct-chat-info clearfix" ng-hide="$index>0 && mess.messages[$index].id==mess.messages[$index+1].id">
                                    <span class="direct-chat-img-reply-small pull-right">

                                    </span>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-messages-footer">
                <form ng-submit="submitchat(chat.channelid,chat.chatmessage)" id="frmmessages">
                    <div class="leftalignmessagebox"><textarea id="status_message" autocomplete="off" ng-model="chat.chatmessage" required placeholder="Type a message..." name="message" ng-enter="submit(chat.channelid,chat.chatmessage)"></textarea></div>
                    <div class="rightalignmessagebox">
                        <div class="btn-footer">
                            <button type="submit" class="bg_none pull-right"><i class="glyphicon glyphicon-send"></i> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-repeat="chat in chatslist | filter:{ isminimized: true }">
        <div ng-show="chat.isminimized" id="livechat-compact-container" style="bottom:{{screenresolation<=680?(($index)*65)+11:(($index)*100)+11}}px" class="iconimagepositionchat">
            <div class="lc2 https" style="margin: 0px; padding: 0px;">
                <div style="display:block" id="mobile_invitation_container">
                    <div id="operator_avatar_container">
                        <div ng-click="maximizechat($index)" id="operator_avatar">
                            <span class="icon-agentonline">P{{chat.parcelid}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

