<footer>
    <div class="wrapper">
        <div class="f-links">
            <h3>About Company</h3>
            <ul>
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="aboutus">About Us</a></li>
                <li><a ui-sref="contact">Contact Us</a></li>
                <li><a ui-sref="faq">FAQ</a></li>
            </ul>
        </div>
        <div class="f-links">
            <h3>Policy Info </h3>
            <ul>
                <li><a ui-sref="termsandcondition">Terms and Conditions</a></li>
                <li><a ui-sref="sendergoodpractices">Sender Good Practices</a></li>
                <li><a ui-sref="transportergoodpractices">Transporter Good Practices</a></li>
                <li><a ui-sref="guidelinessection"  >Guidelines Section</a></li>
            </ul>
        </div>
        <div class="f-info">
            <h6>MCB</h6>
            <p> </p>
            <div class="social">
                <ul>
                    <li><a target="_blank" class="fa fa-facebook" href="http://www.facebook.com/"></a></li>
                    <li><a target="_blank" class="fa fa-twitter" href="www.twitter.com/&lrm;"></a></li>
                    <li><a target="_blank" class="fa fa-pinterest-p" href="https://in.pinterest.com/"></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>