<div ng-include="'views/head.html'"></div>
 <div ng-controller="guidelinessectionController">
     <div class="t_c faq  in-page a-justify">
         <div class="wrapper guid-pg">
             <div class="page-heading">Guidelines Section</div>
             <h5>Restricted &amp; Banned Items</h5>
             <ul class="guid-lst">
                 <li>Liquid, semi-liquid and gases</li>
                 <li>Currency</li>
                 <li>Indian Postal Articles and all items that infringe the Indian Postal Act of 1898</li>
                 <li>Precious and semi-precious stones, gems, jewellery and equivalent items</li>
                 <li>Perishables</li>
                 <li>Radioactive or magnetic material</li>
                 <li>Negotiable Instruments (Bearer Form)</li>
                 <li>Pornographic material</li>
                 <li>Sodexho pass</li>
                 <li>Firearms, explosives and military equipment</li>
                 <li>Flammable Items</li>
                 <li>Toxic and infectious Items</li>
                 <li>Corrosives</li>
                 <li>Powders and chemicals</li>
                 <li>Drugs</li>
                 <li>Machinery parts containing oil, grease, fuel or batteries</li>
                 <li>All restricted items as per guidelines of IATA</li>
             </ul>
             <br><br>
             <h5>Dangerous Goods</h5>
             <span><strong>Definition:</strong> Commodities, which possess potentially hazardous characteristics. These are as the laid out by IATA in the Dangerous Goods Regulations.</span> <br>
             <br>
             <strong>The categories of dangerous goods are:</strong>
             <ul>
                 <li><strong><b>Class 1:</b> Explosives</strong></li>
                 <li><strong><b>Class 2:</b> Gases</strong></li>
                 <li><strong><b>Class 3:</b> Flammable Liquids</strong></li>
                 <li><strong><b>Class 4:</b> Flammable Solids</strong></li>
                 <li><strong><b>Class 5:</b> Oxidizers and Organic Peroxides</strong></li>
                 <li><strong><b>Class 6:</b> Toxic &amp; Infectious Substances</strong></li>
                 <li><strong><b>Class 7:</b> Radioactive Material</strong></li>
                 <li><strong><b>Class 8:</b> Corrosives</strong></li>
                 <li><strong><b>Class 9:</b> Miscellaneous e.g. Magnets - a danger to airplane equipment</strong></li>
             </ul>


         </div>
     </div>
</div>