<div ng-include="'views/head.html'"></div>
<div class="t_c faq  in-page a-justify" ng-controller="TermsandconditionController">
    <div class="wrapper">
        <div class="page-heading">Terms and Conditions</div>

        <i class="fa fa-plane"></i> Customers are required to provide complete information regarding the type

        and specifications of the goods to be delivered at MCB portal/app and to

        Transporter. <br><br>

        <i class="fa fa-plane"></i> MCB does not provide specific box for shipping. Customers are responsible

        for properly packing the goods to be delivered. For fragile items made of

        glass, ceramic and includes cakes, food, fresh flowers etc. it is suggested

        that the item is specially packaged. MCB is not responsible for damage or

        deformation that occurs upon delivery of such goods.<br><br>

        <i class="fa fa-plane"></i> The MCB transporters has been guided to take the packages in a safe

        manner. However, customers who use MCB transportation services are

        responsible for their package safety. Therefore if you feel uncomfortable with

        the way the transporter handles the delivery package, please feedback

        accordingly for Transporter. This will help us to make the selection of

        responsible transporter and make the services better.<br><br>

        <i class="fa fa-plane"></i> MCB does not provide delivery service for items which include goods which

        are prohibited by the customs authorities to be owned or distributed within

        country and across the borders like Drugs, Illegal items, Weapons,

        Chemicals, meat, plants etc. <br><br>

        <i class="fa fa-plane"></i> Items dimensions more than 70cm (length), 50cm (width), 50cm (height) or

        items weighing more than 20 kg are discouraged as such dimensions are

        difficult to carry and check-in.<br><br>

        <i class="fa fa-plane"></i> Goods which are liable for customs duty at departing and destination country

        shall be declared to customs at airport. Its sender's and courier buddy's

        mutual responsibility to check if the goods handed over for delivery are liable

        for customs duty. MCB is not directly responsible for any dispute involving

        customs or customs duty payment.<br><br>

        <i class="fa fa-plane"></i> MCB is not directly responsible for missing package involving MCB

        transporters or either damage to the package or any distortion of package

        caused while transporting by transporter. All expenses and charges that may

        arise on the incident would be directed to the personal responsibility

        of transporter. If there is information that can be helpful to the investigation

        as contact details and identity details, MCB can only help as a mediator in

        bringing both parties to find a solution regarding the issue.<br><br>

        <i class="fa fa-plane"></i> MCB presently does not provide insurance for lost or missing items. <br><br>

        <i class="fa fa-plane"></i> Voucher codes are strictly valid for one voucher per account within every

        promotion.






    </div>
</div>