<div ng-include="'views/head.html'"></div>
 <div ng-controller="transportergoodpracticesController">
    <div class="pri_po faq in-page a-justify">
        <div class="wrapper">
            <div class="page-heading">Transporters Good Practice and Recommendation</div>




            <i class="fa fa-plane"></i>  Once you confirm your travel plan, book the tickets and receive the PNR

            Number and Ticket Number from Airlines, then create your trips in My-Trips

            in MCB portal or App. Plan your luggage for your personal use for trip and

            estimate how much you can carry additional as MCB transporter. <br><br>

            <i class="fa fa-plane"></i>  Familiarize yourself with local customs regulations common at destination.

            Make sure package always comply as per the local customs regulations to

            be carried to transit and destination country. <br><br>

            <i class="fa fa-plane"></i>  Once your trip is saved in MCB, search for suitable deliveries for your

            destination, and confirm deliveries which are suitable for

            transportation as per your capacity and convenience.<br><br>

            <i class="fa fa-plane"></i>  Keep in touch with sender by mail, SMS or phone call, discuss exact details

            like weight and dimensions about the package. Make an appointment with

            sender and finalize about venue, date &amp; time to receive the package. <br><br>

            <i class="fa fa-plane"></i>  Coordinate with sender to receive the package as per both of your

            convenience. While receiving the delivery, make sure you take photo of

            package along with the sender for future reference. <br><br>

            <i class="fa fa-plane"></i>  MCB Transporter shall make sure the content of the package is as per the

            discussion and specifications about the package category, weight and

            dimension roughly matches with the online order. Upon picking update the

            status as "Picked" in MCB app.<br><br>

            <i class="fa fa-plane"></i>  Keep the package safely in hand bag or check-in baggage as per size or

            convenience to carry. Prefer always to scan the package at airport before

            you check in or carry in hand bag. <br><br>

            <i class="fa fa-plane"></i>  Remember to coordinate with receiver buddy before you fly so that it's easy

            to identify and hand order the packet at destination. If possible ask for

            contact details and other identifications of the receiver. <br><br>

            <i class="fa fa-plane"></i>  On meeting receiver hand over the package safely and remember to update

            the delivered status on MCB app either with your mobile or with receivers

            mobile. At the same time remember to take a photo of delivered package

            with your receiver buddy for records in your mobile.<br><br>

            <i class="fa fa-plane"></i>  Request your sender and receiver buddy to update the feedback for this

            delivery.

        </div>
    </div>
</div>