<div ng-include="'admin/views/head.html'"></div>
<div class="container" ng-controller="ChangePasswordController">

    <div class="tab-form-new">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a>Change Password</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="row">
                    <div class="col-md-12 inner-tab-form-new">
                        <div class="row">
                            <div class="col-md-2">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" ng-class="isActive('/admin/profile')?'active':''">
                                        <a ui-sref="adminprofile" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i>My Account</a>
                                    </li>
                                    <li role="presentation" ng-class="isActive('/admin/changepassword')?'active':''">
                                        <a ui-sref="changepassword" aria-controls="home" role="tab" data-toggle="tab">
                                            <i class="fa fa-key" aria-hidden="true"></i>Change Password
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-7">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane" id="myTrips">...</div>
                                    <div role="tabpanel" class="tab-pane active" id="addTrips">
                                        <h1>Change Password</h1>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <div class="alert alert-danger" role="alert" ng-hide='!errormessage'>{{errormessage}}</div>
                                                <div class="alert alert-success" role="alert" ng-hide='!successMessage'>{{successMessage}}</div>
                                            </div>
                                        </div>
                                        <form class="stdform" ng-submit="changepassword(change_password.$valid)" name="change_password" enctype="multipart/form-data" method="post" accept-charset="utf-8" novalidate="novalidate">
                                            <div class="form-group">
                                                <div class="col-md-4 control-label"><label>Current Password <span class="red">*</span></label></div>
                                                <div class="col-md-8">
                                                    <input name="currentpassword" ng-model="user.changepasswordcurrentpassword" class="form-control" ng-maxlength="12" ng-minlength="6" required="required" id="currentpassword" type="password">
                                                    <span class="error" ng-show="(change_password.$submitted  && change_password.currentpassword.$error.required) && !successMessage">Enter Current Password.</span>
                                                    <span class="error" ng-show="change_password.currentpassword.$error.minlength">Min Length 6.</span>
                                                    <span class="error" ng-show="change_password.currentpassword.$error.maxlength">Max Length 12.</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4 control-label"><label>New Password <span class="red">*</span></label></div>
                                                <div class="col-md-8">
                                                    <input name="npassword" ng-model="user.changepasswordpassword" class="form-control" required="required" id="changepasswordpassword" ng-maxlength="12" ng-minlength="6" type="password">
                                                    <span class="error" ng-show="(change_password.$submitted && change_password.npassword.$error.required) && !successMessage">Enter New Password.</span>
                                                    <span class="error" ng-show="change_password.npassword.$error.minlength">Min Length 6.</span>
                                                    <span class="error" ng-show="change_password.npassword.$error.maxlength">Max Length 12.</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4 control-label"><label>Confirm Password <span class="red">*</span></label></div>
                                                <div class="col-md-8">
                                                    <input name="cpass" ng-model="user.changepasswordcpass" class="form-control" required="required" pw-check="changepasswordpassword" id="cpass" type="password">
                                                    <span class="error" ng-show="(change_password.$submitted  && change_password.cpass.$error.required) && !successMessage">Enter Conform Password.</span>
                                                    <span class="error" ng-show="change_password.cpass.$error.pwmatch && user.changepasswordcpass.length>0">These Passwords Don't Match. Try Again?</span>


                                                </div>
                                            </div>
                                            <span id="cpsmsg" style="display:none;color:red"></span>
                                            <div class="form-group">
                                                <input style="float:right;width:90px;background: #3b5998;border: 0;color: #fff;margin-right: 15px;height: 29px;" class="buttonblk" type="submit" value="Save" />
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <div class="clear">&nbsp;&nbsp;</div>
                            </div>
                            <div class="col-md-3 inner-tab-form-image">
                                <img src="images/trip.png" style="width:100%; max-height:500px; margin-top:20px;" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
