<div ng-include="'views/head.html'"></div>
<div class="forgetpassword-container blank" ng-controller="forgetpasswordController">
    <div class="wrapper">
        <div id="login-modal" class="modal-login">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="loginModalLabel">MCB RESET PASSWORD</h4>
                    </div>
                    <div class="modal-body">
                        <div class="login-form-container">
                            <form name="forgetpasswordForm" ng-submit="forgetpassword(forgetpasswordForm.$valid)" novalidate>
                                <div class="form-group email">
                                    <label for="login-email" class="sr-only">Your Email<span class="red">*</span> :</label>
                                    <input type="email" maxlength="200" name="forgetpasswordDatauserName" id="forgetpasswordDatauserName" ng-model="forgetpasswordData.userName" placeholder="Your email" title="Please enter you email" required class="form-control login-email">
                                    <span class="error" ng-show="(forgetpasswordForm.$submitted && forgetpasswordForm.forgetpasswordDatauserName.$error.required)">Email required.</span>
                                    <span class="error" ng-show="(forgetpasswordForm.$submitted && forgetpasswordForm.forgetpasswordDatauserName.$error.email)">Enter Valid Email.</span>
                                </div> 
                                <div class="clear">&nbsp;</div>
                                <input class="btn btn-block btn-cta-primary" type="submit" value="Submit"> 
                                <div class="clear">&nbsp;</div>
                                  <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="alert alert-danger" role="alert" ng-hide='!errorforgetpasswordDescription'>{{errorforgetpasswordDescription}}</div>
                                        <div class="alert alert-success" role="alert" ng-hide='!successforgetpasswordDescription'>{{successforgetpasswordDescription}}</div>
                                    </div>
                                </div>
                            </form>
                        </div><div class="clear">&nbsp;</div><div class="f-right"><a ui-sref="login">Login</a></div><div class="clear">&nbsp;</div>
                    </div>
                    <div class="modal-footer">
                        <p>If you are a new user <a ui-sref="register" id="signup-link" class="signup-link">Sign up now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="color-line"></div>
</div>
<style>
    .modal-dialog {
        max-width: 360px;
    }
</style>