<div ng-include="'views/head.html'"></div>
<div class="container" ng-controller="transbookingController">
    <div class="tab-form-new">
        <div ng-include="'views/dashboardmenu.html'"></div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Dashboard">
                <div class="row">
                    <div class="col-md-12 inner-tab-form-new">
                        <div class="row">
                            <div class="col-md-2">

                                <div class="clear">&nbsp;&nbsp;</div> <div class="clear">&nbsp;&nbsp;</div>
                            </div>
                            <div class="col-md-7" ng-hide="issummary">
                                <h1>Book Now</h1>
                                <form class="stdform" id="addbook-frm" ng-submit="paynow(frmaddparcel.$valid)" enctype="multipart/form-data" method="post" accept-charset="utf-8" novalidate="novalidate" name="frmaddparcel">
                                    <div class="row">
                                        <div class="form-group col-sm-12">
                                            <div class="alert alert-danger" role="alert" ng-hide='!errormessage'>{{errormessage}}</div>
                                            <div class="alert alert-success" role="alert" ng-hide='!successaddtripMessage'>{{successaddtripMessage}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 control-label" for="textinput">Trip ID</label>
                                        <div class="col-md-12">
                                            <span class="mcbid" style="float:left;">T{{transporter.id}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">From <span class="red">*</span></label>
                                        <div class="col-md-8 p-reltv">
                                            <input type="text" name="source" class="form-control input-md" ng-model="parcelfromloation" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">To <span class="red">*</span></label>
                                        <div class="col-md-8 p-reltv">
                                            <input name="destination" readonly class="form-control input-md" type="text" ng-model="parceltoloation" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">Parcel type <span class="red">*</span></label>
                                        <div class="col-md-8">
                                            <select name="Parceltype" class="form-control input-md" ng-model="parceltype" placeholder="Select Parcel Type You Have To Send" required="required" ng-change="checkdimensions()" id="typchkk">
                                                <option value="">Select Parcel Type</option>
                                                <option value="B">Box</option>
                                                <option value="E">Envelope</option>
                                                <option value="P">Packet</option>
                                            </select>
                                            <span class="error" ng-show="(frmaddparcel.$submitted && frmaddparcel.Parceltype.$error.required)">Required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group p-size" ng-show="showheight || showwidth || showlength">
                                        <label class="col-md-4 control-label" for="textinput">Dimension(inches) <span class="red">*</span></label>
                                        <div class="col-md-8" style="padding-left:0;">
                                            <div class="col-md-4">
                                                <input maxlength="3" name="height" placeholder="Height" class="form-control input-md" ng-show="showheight" valid-number ng-model="ParcelHeight" type="text" id="ParcelHeight"><br />
                                            </div>
                                            <div class="col-md-4">
                                                <input name="width" maxlength="3" placeholder="Width" class="form-control input-md" ng-show="showwidth" valid-number type="text" id="ParcelWidth" ng-model="ParcelWidth"><br />
                                            </div>
                                            <div class="col-md-4" maxlength="3" style="padding-right:0;">
                                                <input name="length" placeholder="length" class="form-control input-md" ng-show="showlength" valid-number type="text" id="ParcelLength" ng-model="ParcelLength" /><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group p-size">
                                        <label class="col-md-4 control-label" for="textinput">Size (kg) <span class="red">*</span></label>
                                        <div class="col-md-8">
                                            <input name="weight" class="form-control input-md" required="required" placeholder="Weight" step="0.01" min="0.01" max="{{maxcapacity}}" type="number" ng-model="ParcelWeight" id="ParcelWeight" />
                                            <span class="error" ng-show="frmaddparcel.weight.$error.min">Min 0.01 Kg.</span>
                                            <span class="error" ng-show="frmaddparcel.weight.$error.max">Max {{maxcapacity}} Kg.</span>
                                            <span class="error" ng-show="(frmaddparcel.$submitted && frmaddparcel.weight.$error.required)">Required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">Deliver Till <span class="red">*</span></label>
                                        <div class="col-md-8">
                                            <input name="data" maxlength="100" class="form-control" value="{{ deliverytill | date:'dd-MM-yyyy' }}" type="text" readonly />
                                            <span class="error" ng-show="(frmaddparcel.$submitted && frmaddparcel.data.$error.required)">Required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="textinput">Parcel Description <span class="red">*</span></label>
                                        <div class="col-md-8">
                                            <textarea name="description" maxlength="1000" ng-model="parceldecsription" placeholder="Short Description Of The Parcel" required="required" class="form-control" id="ParcelDescription"></textarea>
                                            <span class="error" ng-show="(frmaddparcel.$submitted && frmaddparcel.description.$error.required)">Required.</span>
                                        </div>
                                    </div>
                                    <h1>Receiver Details </h1>
                                    <div ng-show="usersearchvisible">
                                        <div class="form-group n-find">
                                            <div class="col-md-8">
                                                <label>Choose Receivers Details</label>
                                            </div>
                                            <div id="book-radio" class="col-md-8 a-left">
                                                <input type="radio" name="data[Parcel][recv_type]" id="ParcelRecvType1" ng-model="value1" required="required" value="true" checked="checked" />
                                                Existing User
                                                <input type="radio" name="data[Parcel][recv_type]" id="ParcelRecvType2" ng-model="value1" required="required" value="false" /> New User
                                            </div>
                                        </div>
                                        <div id="exist" ng-show="value1=='true'" ng-hide="value1=='false'">
                                            <div class="form-group n-find">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="textinput">Mobile Number</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="mob_num" id="mob_num" class="form-control" ng-model="exitingmobilenumber" maxlength="15" placeholder=" Type Number" valid-number placeholder="Search Receiver By Mobile Number" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="textinput"> Email ID</label>
                                                    <div class="col-md-8">
                                                        <input type="email" maxlength="200" name="receml" id="receml" ng-model="exitingemail" class="form-control" placeholder="Search Receiver By Email ID" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <a href="javascript:void(0);" ng-click="searchuser()" class="f-btn" style="float:right;background: #3b5998;border: 0;color: #fff;padding:6px 15px;" id="find">Search</a>
                                                </div>
                                                <div class="clear">&nbsp;</div>
                                                <div ng-show="userlist.length==0 && usersearchclicked">
                                                    <div class="alert alert-danger" role="alert">No receiver found </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="invite" ng-hide="value1=='true'" ng-show="value1=='false'">
                                            <div class="clear n-find">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="textinput"> Name <span class="red">*</span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" maxlength="200" ng-model="registername" class="form-control" name="name" id="name" placeholder="Enter Name Of New User">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="textinput"> Email ID <span class="red">*</span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" maxlength="200" class="form-control" ng-model="registeremail" name="emil" id="emil" placeholder=" Email Address">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="textinput"> Number (M)</label>
                                                    <div class="col-md-8">
                                                        <input type="text" maxlength="15" class="form-control" ng-model="registermobile" name="number" id="number" placeholder=" Mobile Number" valid-number>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="textinput">Message</label>
                                                    <div class="col-md-8">
                                                        <textarea class="form-control" maxlength="500" name="imsgg" ng-model="registermessage" id="imsgg" placeholder="Any Additional Message You Want To Send"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <a href="javascript:void(0);" style="float:right;background: #3b5998;border: 0;color: #fff;margin-right:0;text-decoration:none;padding:5px 10px" class="f-btn" ng-click="sendinviteuser()">Send Invite</a>
                                                </div>
                                                <span id="emsg"></span>
                                                <div class="clear">&nbsp;</div>
                                                <div ng-show="userlist.length==0 && usersearchclicked">
                                                    <div class="alert alert-danger" role="alert">No receiver found </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" role="alert" ng-hide='!errormessageuser'>{{errormessageuser}}</div>
                                    <div class="com-det" ng-hide="usersearchvisible">
                                        <table id="userlist" ng-show="userlist.length>0" class="table table-striped table-bordered dt-responsive" cellspacing="0" style="max-width:100%;" width="100%">
                                            <thead>
                                                <tr>
                                                    <th><b>&nbsp;&nbsp;&nbsp; MCB Id &nbsp;&nbsp;&nbsp;</b></th>
                                                    <td><b>&nbsp;&nbsp;&nbsp;Email  &nbsp;&nbsp;&nbsp;</b></td>
                                                    <td><b>&nbsp;&nbsp;&nbsp;Name  &nbsp;&nbsp;&nbsp;</b></td>
                                                    <td><b>Phone</b></td>
                                                    <td><b>&nbsp;</b></td>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                            </tbody>
                                        </table>
                                        <div class="clear">&nbsp;</div>
                                        <div ng-show="userlist.length==0 && usersearchclicked">
                                            <div class="alert alert-danger" role="alert">No receiver found </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-top8" ng-hide="userlist.length==0 || usersearchvisible" id="pay">
                                        <input type="submit" style="float:right;width:90px;background: #3b5998;border: 0;color: #fff;margin-right: 15px;height: 29px;" value="Submit">
                                    </div>
                                </form>
                                <div class="clear">&nbsp;&nbsp;</div>
                                <div class="clear">&nbsp;&nbsp;</div>
                            </div>
                            <div class="col-md-7" ng-show="issummary">
                                <div class="search-result book-now a-left">
                                    <h3>Confirm Booking</h3>
                                    <form action="/dashboard/summarysheet" class="stdform" id="accept-and-pay" enctype="multipart/form-data" method="post" accept-charset="utf-8">
                                        <div style="display:none;"><input type="hidden" name="_method" value="POST"></div><div class="clear">
                                            <div class="f-left"><label>From </label></div>
                                            <div class="f-right">
                                                <b>-</b>
                                                {{ parcelfromloation }}
                                            </div>
                                        </div>
                                        <div class="clear">
                                            <div class="f-left"><label>To </label></div>
                                            <div class="f-right">
                                                <b>-</b>
                                                {{ parceltoloation }}
                                            </div>
                                        </div>
                                        <div class="clear">
                                            <div class="f-left"><label>Parcel type</label></div>
                                            <div class="f-right">
                                                <b>-</b>
                                                {{ parceltype=="B"?"Box":parceltype=="E"?"Envelope":"Packet" }}
                                            </div>
                                        </div>
                                        <div class="clear p-size" ng-show="parceltype=='B'">
                                            <div class="f-left"><label>Parcel Dimension</label></div>
                                            <div class="f-right">
                                                <b>-</b>
                                                H {{ ParcelHeight }}" , W {{ParcelWidth}}" , L {{ ParcelLength }}"
                                            </div>
                                        </div>
                                        <div class="clear p-size">
                                            <div class="f-left"><label>Parcel Weight</label></div>
                                            <div class="f-right">
                                                <b>-</b>
                                                {{ ParcelWeight }}kg
                                            </div>
                                        </div>
                                        <div class="clear">
                                            <div class="f-left"><label>Parcel Description</label></div>
                                            <div class="f-right a-justify">
                                                <b>-</b>
                                                {{parceldecsription}}
                                            </div>
                                        </div>
                                        <div class="clear">
                                            <div class="f-left"><label>Amount To Pay</label></div>
                                            <div class="f-right a-justify">
                                                <b>-</b>
                                                <i class="fa fa-inr"></i>{{totalamount}}
                                            </div>
                                        </div>
                                        <h5>Receiver Details </h5>
                                        <div class="com-det">
                                            <table border="0" ng-show="userlist.length>0" cellpadding="4" width="100%">
                                                <tbody>
                                                    <tr ng-repeat="user in userlist">
                                                        <td style="text-transform:uppercase;"><b>MCB Id</b>{{user.UserID}}</td>
                                                        <td><b>Email</b>{{user.username}}</td>
                                                        <td><b>Name</b>{{user.name}} </td>
                                                        <td><b>Phone</b>{{user.mobile}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="clear">&nbsp;</div>
                                            <div ng-show="userlist.length==0">
                                                <div class="alert alert-danger" role="alert">No receiver found </div>
                                            </div>
                                        </div>
                                        <div class="clear">
                                        </div>
                                        <div class="paymnt-dtl">
                                            <div class="clear">
                                                <div class="f-left"><input type="text" name="first_name" placeholder="First Name" required="required"></div>
                                                <div class="f-right"><input type="text" name="last_name" placeholder="Last Name" required="required"></div>
                                            </div>
                                            <div class="clear">
                                                <div class="f-left"> <input id="checkout_card_number" name="card_number" placeholder="Card Number" type="text" size="20" pattern="[0-9]*" autocomplete="off" class="stripe_card_number" required="required"></div>
                                                <ul class="card_logos f-right">
                                                    <li class="card_visa">Visa</li>
                                                    <li class="card_mastercard">Mastercard</li>
                                                    <li class="card_amex">American Express</li>
                                                    <li class="card_discover">Discover</li>
                                                    <li class="card_jcb">JCB</li>
                                                    <li class="card_diners">Diners Club</li>
                                                </ul>
                                            </div>
                                            <div class="clear">
                                                <label for="expiry_date">Expiry date</label>
                                                <div class="f-left"><input id="expiry_date" type="text" placeholder="mm" maxlength="2" name="expiry_date_month" required="required"></div>
                                                <div class="f-right"><input id="expiry_date" type="text" placeholder="yyyy" maxlength="4" name="expiry_date_year" required="required"></div>
                                            </div>
                                            <div class="clear">
                                                <div class="f-left">
                                                    <label for="cvv">CVV</label>
                                                    <input id="cvv" type="text" placeholder="XXX" maxlength="3" name="cvv" required="required">
                                                </div>

                                                <div class="f-right">
                                                    <label for="Contact">Contact no.</label>
                                                    <input id="contact" name="contact" placeholder="Contact Number(only 10 digits)" type="text" size="20" pattern=".{10,10}" maxlength="10" autocomplete="off" required="required" title="only 10 digits allowed">
                                                </div>
                                            </div>
                                            <input type="text" name="card_type" style="display: none;" id="card-type" value="mastercard">
                                            <input type="hidden" name="type" id="typ" value="">
                                            <input type="hidden" name="total_amt" id="booking" value="4700">
                                            <div class="clear">
                                                <div class="clear a-left">
                                                    <input type="submit" value="Processed by paypal">
                                                    <br>
                                                    <p style="color:red;">If MCB is not able to find Transporter for your booking with in 12 days, Full amount will be refunded in your Account</p>
                                                    <!--<a href="javascript:void(0)" onclick="window.history.back();">Go Back</a>-->
                                                </div>
                                                <div>
                                                    <div class="card-error" style="color: red;display: none;">Your Card information is incorrect</div>
                                                </div>


                                            </div>
                                        </div>
                                    </form>

                                    <div id="book" class="pop-up-display-content">
                                        <div class="thanku regstr">

                                            <h6>Your request has been received and you will be notify if transporter agree to carry/book your parcel.</h6>
                                        </div>
                                    </div>
                                </div><div class="clear">&nbsp;&nbsp;</div>
                            </div>
                            <div class="col-md-3 inner-tab-form-image">
                                <div class="clear">&nbsp;&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.quote_date').Zebra_DatePicker({
        direction: true, pair: $('.quote_date1'), format: 'd-m-Y'
    });
    $('.quote_datesearch').Zebra_DatePicker({
        direction: true, pair: $('.quote_datesearch1'), format: 'd-m-Y'
    });
    $('.quote_datesearch1').Zebra_DatePicker({
        direction: true, format: 'd-m-Y'
    });
    $('#setTimeExample').timepicker();
    $('#setTimeExample1').timepicker();
    function changereceiveruser() {
        angular.element('.container').scope().changereceiveruser();
    }
</script>
<style>
    .input-group, span.Zebra_DatePicker_Icon_Wrapper {
        width: 100%;
    }
</style>
